<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <h1>Selected Plan</h1>

        <div class="flex space-x-4">
            <div class="flex-1">
                <div class="w-full mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-1xl">

                    <h1 class="text-white text-center" style="background-color: #ffc107">Plan 1</h1>

                    <div class="md:flex">
                        <div class="p-2">
                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Plan Name</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.PlanName }}
                            </p>

                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Expire Year</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.ExpireYear }}
                            </p>

                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">MinPerMonth</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.MinPerMonth }}
                            </p>

                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">MinPerVisit</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.MinPerVisit }}
                            </p>

                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">MinPerYear</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.MinPerYear }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-1">
                <div class="w-full mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-1xl">

                    <h1 class="text-white text-center" style="background-color: #ffc107">Plan 1</h1>

                    <div class="md:flex">
                        <div class="p-2">
                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Plan Name</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.PlanName }}
                            </p>

                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Expire Year</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.ExpireYear }}
                            </p>

                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">MinPerMonth</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.MinPerMonth }}
                            </p>

                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">MinPerVisit</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.MinPerVisit }}
                            </p>

                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">MinPerYear</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.MinPerYear }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-1">
                <div class="w-full mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-1xl">

                    <h1 class="text-white text-center" style="background-color: #ffc107">Plan 1</h1>

                    <div class="md:flex">
                        <div class="p-2">
                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Plan Name</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.PlanName }}
                            </p>

                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Expire Year</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.ExpireYear }}
                            </p>

                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">MinPerMonth</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.MinPerMonth }}
                            </p>

                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">MinPerVisit</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.MinPerVisit }}
                            </p>

                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">MinPerYear</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.MinPerYear }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <br />
        <h1>New Plan</h1>

        <div class="flex space-x-4">
            <div class="flex-1">
                <div class="w-full mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-1xl">

                    <h1 class="text-white text-center" style="background-color: #ffc107">Plan 1</h1>



                    <div class="md:flex">
                        <div class="p-2">
                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Plan Name</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.PlanName }}
                            </p>

                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Expire Year</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.ExpireYear }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-1">
                <div class="w-full mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-1xl">

                    <h1 class="text-white text-center" style="background-color: #ffc107">Plan 2</h1>

                    <div class="md:flex">
                        <div class="p-2">
                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Plan Name</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.PlanName }}
                            </p>

                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Expire Year</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.ExpireYear }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-1">
                <div class="w-full mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-1xl">

                    <h1 class="text-white text-center" style="background-color: #ffc107">Plan 3</h1>

                    <div class="md:flex">
                        <div class="p-2">
                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Plan Name</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.PlanName }}
                            </p>

                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Expire Year</div>

                            <p class="mt-2 text-gray-500 text-justify">
                                {{ planDetails.ExpireYear }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>