.text-muted-custom {
    color: #ccc !important;
}
.adjustColumnIconHeight {
    margin-bottom: 0.5rem;
}
body.light .mat-flat-button.mat-primary, body.light .mat-raised-button.mat-primary, body.light .mat-fab.mat-primary, body.light .mat-mini-fab.mat-primary, body .light .mat-flat-button.mat-primary, body .light .mat-raised-button.mat-primary, body .light .mat-fab.mat-primary, body .light .mat-mini-fab.mat-primary {
    background-color: #248af7;
}
.bg-purple-500 {
    background-color: #28a745 !important;
}
.hover\:bg-purple-400:hover {
    background-color:  #28a745 !important;
}
.py-3 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.rounded {
    border-radius: 6px !important;
    }

.py-4 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    }