<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="">

            <h1 class="font-weight-bold">Monthly Visit Summary</h1>


            <div>
                <div class="flex flex-wrap -mx-3 mb-6">

                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                            id="grid-first-name" type="text" placeholder="Enter Employee Name"
                            [(ngModel)]="searchField.EmployeeName" autocomplete="off">
                    </div>
                    <!-- Year -->
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="year" autocomplete="off">
                                <option [value]="''" selected>- Year -</option>
                                <option [value]="y" *ngFor="let y of yearList;">{{ y }}</option>
                                <!-- 
                                <ng-container>
                                    <option [value]="2021">2021</option>
                                    <option [value]="2020">2020</option>
                                    <option [value]="2019">2019</option>
                                    <option [value]="2018">2018</option>
                                    <option [value]="2017">2017</option>
                                    <option [value]="2016">2016</option>
                                    <option [value]="2015">2015</option>
                                    <option [value]="2014">2014</option>
                                    <option [value]="2013">2013</option>
                                    <option [value]="2012">2012</option>
                                    <option [value]="2011">2011</option>
                                    <option [value]="2010">2010</option>
                                </ng-container> -->
                            </select>
                        </div>
                    </div>



                    <!-- Month -->
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select [disabled]="year===''"
                                class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="month" autocomplete="off">
                                <option [value]="''" selected hidden>- Month -</option>

                                <ng-container>
                                    <option [value]="1">Jan</option>
                                    <option [value]="2">Feb</option>
                                    <option [value]="3">Mar</option>
                                    <option [value]="4">Apr</option>
                                    <option [value]="5">May</option>
                                    <option [value]="6">Jun</option>
                                    <option [value]="7">Jul</option>
                                    <option [value]="8">Aug</option>
                                    <option [value]="9">Sep</option>
                                    <option [value]="10">Oct</option>
                                    <option [value]="11">Nov</option>
                                    <option [value]="12">Dec</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>

                    <!-- Clinic -->
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.ClinicCode" autocomplete="off">
                                <option [value]="''">- Select Clinic -</option>

                                <ng-container *ngFor="let c of clinicData;">
                                    <option [value]="c.clinicCode">{{ c.clinicName }}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>

                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0" style="text-align: center;">
                        <button
                            class="gap-4 mr-3 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="filterReportData();">
                            Search
                        </button>

                        <button style="margin-left: 5px;"
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="resetSearch();">
                            Reset
                        </button>
                    </div>

                    <div class="w-full px-3 mb-6 md:mb-0">
                        <button mat-raised-button color="primary" *ngIf="recordCount > 0" (click)="exportToExcel()"
                            style="text-align: center; margin: auto; float: right;">Export To Excel</button>
                        <br />
                        <br />
                    </div>

                </div>
            </div>


            <div *ngIf="recordCount > 0">
                <h4>Total Records: {{ recordCount }}</h4>
            </div>



            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="flex flex-col overflow-hidden">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200" id="monthly-visit-report-table">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Sr No
                                        </th>
                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Employee Name</span>
                                                <mat-icon (click)="sortData('EmpName', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'EmpName')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('EmpName', 'asc')"
                                                    *ngIf="sortedColumn === 'EmpName' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('EmpName', 'desc')"
                                                    *ngIf="sortedColumn === 'EmpName' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>
                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Clinic Name
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Visit Date</span>
                                                <mat-icon (click)="sortData('VisitDate', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'VisitDate')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('VisitDate', 'asc')"
                                                    *ngIf="sortedColumn === 'VisitDate' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('VisitDate', 'desc')"
                                                    *ngIf="sortedColumn === 'VisitDate' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            No. Of Patient Visits
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Total Claim(RM)</span>
                                                <mat-icon (click)="sortData('Claim', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'Claim')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('Claim', 'asc')"
                                                    *ngIf="sortedColumn === 'Claim' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('Claim', 'desc')"
                                                    *ngIf="sortedColumn === 'Claim' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Average Claim(RM)</span>
                                                <mat-icon (click)="sortData('AvgClaim', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'AvgClaim')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('AvgClaim', 'asc')"
                                                    *ngIf="sortedColumn === 'AvgClaim' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('AvgClaim', 'desc')"
                                                    *ngIf="sortedColumn === 'AvgClaim' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container>
                                        <tr class="ng-star-inserted" *ngFor="let d of reportData; let i = index;">

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ (pageCount-1)*pageSize + (i+1) }}
                                                </div>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ d.employeeName }}
                                                </div>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ d.clinicName }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ d.visitDt | date }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ d.NumberOfVisit }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ d.Claim }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ d.AverageClaim }}
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>


                                    <tr *ngIf="!reportData || reportData.length===0">
                                        <td colspan="12"
                                            class="text-center text-mx text-gray-900 px-6 py-4 whitespace-nowrap ng-star-inserted">
                                            No Data Found
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                        <br />

                        <!-- <div class="flex flex-wrap -mx-3 mb-6">
                            <div class="w-100 md:w-1/1 px-3 mb-6 md:mb-0">
                                <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
                                Prev
                                </button>

                                <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button" style="margin-left: 6px;">
                                    Next
                                    </button>
                            </div>
                        </div> -->

                        <div class="grid grid-cols-1 gap-4">
                            <div>
                               <div class="grid grid-cols-1 gap-4" style="float: left;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <h5>Page {{ pageCount }} of {{totalPageCount}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <!--  <div class="grid grid-cols-2 gap-4" style="float: right;">
                                    <div *ngIf="pageCount > 1">
                                        <button (click)="changePage('prev')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Prev
                                        </button>
                                    </div>

                                    <div *ngIf="showNext">
                                        <button (click)="changePage('next')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Next
                                        </button>
                                    </div>
                                </div> -->
                                <div class="grid grid-cols-1 gap-4" style="float: right;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <app-paginator [totalPageCount]="totalPageCount"
                                                [resetPageIndex]=resetPageIndex [pageButtonsCount]=pageButtonsCount
                                                (changePage)="changePage($event)">
                                            </app-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>