<div class="bg-warning pl-4 pr-4 pt-2 pb-2 pb-1 rounded-top" mat-dialog-title>
    <p class="mb-0">Employee Details</p>
</div>

<mat-dialog-content class="mat-typography">

    <div class="w-full p-3">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.EmpName">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-first-name">
                    Name
                </label>

                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white"
                    for="grid-first-name">
                    {{employee.EmpName}}
                </label>

            </div>

            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.EmpNo">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-first-name">
                    Employee Number
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.EmpNo}}
                </label>
            </div>

            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.Age">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-first-name">
                    Age
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.Age}}
                </label>
            </div>

            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.Email">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-first-name">
                    Email
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.Email}}
                </label>
            </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.DateOfHire">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-first-name">
                    Date of Hire
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.DateOfHire | date}}
                </label>
            </div>
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.Department">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                    Department
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.Department}}
                </label>
            </div>



            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.CompanyName">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                    Company
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.CompanyName}}
                </label>
            </div>



            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.TotalNoOfClaims">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                    Number Of Claims
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.TotalNoOfClaims}}
                </label>
            </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.marriedStatus">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                    Marital Status
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.marriedStatus | uppercase}}
                </label>
            </div>


            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.noOfChildren">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                    No of Children
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.noOfChildren}}
                </label>
            </div>


            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.Date_Of_Birth">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-first-name">
                    DOB
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.Date_Of_Birth | date}}
                </label>
            </div>


            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.genderText">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                    Gender
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.genderText}}
                </label>
            </div>
        </div>


        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.ICNum">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-first-name">
                    IC/Passport
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.ICNum}}
                </label>
            </div>

            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.KWSP">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-first-name">
                    KWSP number
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.KWSP}}
                </label>
            </div>

            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.LongDesc">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                    Nationality
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.LongDesc}}
                </label>
            </div>


            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.Phone">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-first-name">
                    Tel No
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.Phone}}
                </label>
            </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">
        </div>


        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0" *ngIf="employee.Addr1">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-first-name">
                    Address line 1
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.Addr1}}
                </label>
            </div>


            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0" *ngIf="employee.Addr2">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-first-name">
                    Address line 2
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.Addr2}}
                </label>
            </div>


            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0" *ngIf="employee.StateId">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                    State
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.StateName}}
                </label>
            </div>


            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0" *ngIf="employee.City">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                    City
                </label>
                <label class="label-color label-height appearance-none block w-
                full  rounded py-3 mb-3 bg-white">
                    {{employee.CityName}}
                </label>
            </div>


            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0" *ngIf="employee.ZipCode">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-first-name">
                    Postcode
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.ZipCode}}
                </label>
            </div>
        </div>


        <!-- <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1 px-3 mb-6 md:mb-0" *ngIf="employee.DiagnosisNotes">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                    Diagnosis
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.DiagnosisNotes}}
                </label>
            </div>
        </div> -->

        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.RetiredDate">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                    Retired Date
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.RetiredDate | date}}
                </label>
            </div>

            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="employee.ResignedDate">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                    Resigned Date
                </label>
                <label class="label-color label-height appearance-none block w-full  rounded py-3 mb-3 bg-white">
                    {{employee.ResignedDate | date}}
                </label>
            </div>
        </div>


        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0" style="text-align: right;">
                <button
                    class="shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 rounded"
                    style="padding: 1rem;" type="button" (click)="onNoClick();">
                    Close
                </button>
            </div>
        </div>
    </div>

</mat-dialog-content>