.bg-card {
    background-color: wheat !important;
}

.mat-table {
    background-color: transparent !important;
}
table {
    border-radius: 1em;
}
.adjustColumnIconHeight {
    margin-bottom: 0.5rem;
    width: 5rem;
}

.text-muted-custom {
    color: #ccc !important;
}
.bg-purple-500 {
    background-color: #28a745 !important;
}
.hover\:bg-purple-400:hover {
    background-color: #29b349 !important;
}
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-input-element {
    padding: 9px 0 !important;
}
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
   min-height: 32px !important;
   }
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-prefix .mat-icon-button, .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix .mat-icon-button {
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
}
table .py-4 {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    }
table .py-3 {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }

    .bg-warning {
        background-color: #ffc107 !important;
    }
    .rounded-top {
        border-top-left-radius: 12px !important;
        border-top-right-radius: 12px !important;
        font-size: 19px;
        font-weight: 500;
    }

    .btn-danger {
        color: #fff !important;
        background-color: #ff0202 !important;
        border-color: #ff0202 !important;
    }
    .btn-danger:hover {
        color: #fff;
        background-color: #c82333 !important;
        border-color: #bd2130 !important;
    }
    .btn {
        position: relative;
        display: inline-block;
        font-weight: 400;
        color: #212529;    
        top: 47px;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 6px 28px;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 6px;
        margin-left: 40% !important;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

.mat-header-cell {
    font-size: 15px;
    font-weight: 600;
    color: #0c0f13 !important;
    }

    .mat-dialog-container {
        display: block;
        padding: 0;
        border-radius: 4px;
        box-sizing: border-box;
        overflow: auto;
        outline: 0;
        width: 100%;
        height: 100%;
        min-height: inherit;
        max-height: inherit;
    }