<!-- <button style="float: right;" mat-button (click)="closePopup()">X</button> -->
<div class="w-full max-w-screen-xl mx-auto bg-warning pl-4 p-4 pb-1 rounded-top">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 w-full min-w-0">
        <div class="flex flex-col flex-auto">
            <p>Invoice Details</p>
        </div>
        <div class="flex flex-col flex-auto">
            <div class="mt-1">
                <label class="justify-left mt-5 text-secondary ml-1">Invoice Number: </label>
                <label class="ml-1">{{invoice.InvoiceNo}}</label>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="flex-auto">
        <div class="w-full max-w-screen-xl mx-auto">
            <br />
            <div class="grid grid-cols-1">
                <div class="flex flex-col flex-auto p-3 rounded-2xl overflow-hidden" style="cursor: pointer;">
                    <div class="flex flex-col mt-2">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Invoice Details
                        </div>
                    </div>
                    <div class="grid grid-cols-1 w-full flex flex-col items-center mt-2 sm:rounded-lg">
                        <table mat-table [dataSource]="invoiceDetails" class="mat-elevation-z8">
                            <ng-container matColumnDef="claimId">
                                <th mat-header-cell *matHeaderCellDef> Claim Id</th>
                                <td mat-cell *matCellDef="let element"> {{element.ClaimsId}} </td>
                            </ng-container>

                            <ng-container matColumnDef="patientName">
                                <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.PatientName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="clinicName">
                                <th mat-header-cell *matHeaderCellDef> Clinic Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.clinicName }} </td>
                            </ng-container>

                            <ng-container matColumnDef="invoiceAmount">
                                <th mat-header-cell *matHeaderCellDef>Invoice Amount(RM) </th>
                                <td mat-cell *matCellDef="let element"> {{element.PerticularInvoiceAmount | number :
                                    '1.2-2'}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <br />
    </div>
    <button type="button" mat-button (click)="closePopup()"
        class="mat-focus-indicator btn btn-danger ml-4 mat-button mat-button-base"><span
            class="mat-button-wrapper">Close</span></button>
</div>