<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="">

            <h1>Covid Detail Report</h1>


            <div>
                <div class="flex flex-wrap -mx-3 mb-2">

                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                            id="grid-first-name" type="text" placeholder="Enter name"
                            [(ngModel)]="searchField.EmployeeName" autocomplete="off">
                    </div>

                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                            id="grid-first-name" type="text" placeholder="Enter IC/Passport No."
                            [(ngModel)]="searchField.Passport" autocomplete="off">
                    </div>

                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.CovidReport" autocomplete="off">
                                <option [value]="''">- Covid Report -</option>
                                <option [value]="'Positive'">Positive</option>
                                <option [value]="'Negative'">Negative</option>
                            </select>
                        </div>
                    </div>

                    <!-- <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="test_date" [max]="startDate"
                                    placeholder="Test Date (dd/mm/yyyy)" autocomplete="off"
                                    [(ngModel)]="searchField.TestDate">
                                <mat-datepicker-toggle matSuffix [for]="test_date"></mat-datepicker-toggle>
                                <mat-datepicker #test_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div> -->

                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="start_date" [min]="startDate" [max]="maxDate"
                                    placeholder="Test Start date" autocomplete="off"
                                    [(ngModel)]="searchField.StartDate">
                                <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                                <mat-datepicker #start_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="endDate" [min]="searchField.StartDate" [max]="maxDate"
                                    placeholder="End date" autocomplete="off" #endDateModel="ngModel"
                                    [(ngModel)]="searchField.EndDate">
                                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                <mat-datepicker #endDate></mat-datepicker>
                                <mat-error *ngIf="endDateModel.hasError('matDatepickerMin')">
                                    Invalid minimum date. Please choose a date bigger than the start date.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-2" style="text-align: right;">
                        <button
                            class="gap-4 shadow mr-3 bg-purple-500 disabled:bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" [disabled]="endDateModel.hasError('matDatepickerMin')"
                            (click)="filterCovidReports();">
                            Search
                        </button>

                        <button style="margin-left: 5px; margin-right: 5px;"
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="resetSearch();">
                            Reset
                        </button>
                    <!-- 
                        <button class="mt-5" mat-raised-button color="primary" *ngIf="recordCount > 0" (click)="exportToExcel()"
                            style="text-align: center; margin: auto; float: right;"><i class="fa mr-2" aria-hidden="true"><img src="assets/images/excel_icon.png" alt="" class=""> </i>     Export To Excel</button>
                        <br />
                        <br /> -->
                    </div>

                    <div class="w-full md:w-1/1 px-3 mb-6 md:mb-2" style="text-align: right;">
                        
                        <button class="mt-5 mr-2" mat-raised-button color="primary" *ngIf="recordCount > 0" (click)="exportToExcel()"
                            style="background: #fb0101; text-align: center; margin: auto; float: right; font-weight: 600;"><i class="fa mr-2" aria-hidden="true"><img src="assets/images/pdf_icon.png" alt="" class=""> </i>  Export To PDF</button>
                          
                        <button class="mt-5 mr-3" mat-raised-button color="primary" *ngIf="recordCount > 0" (click)="exportToExcel()"
                            style="text-align: center; margin: auto; float: right; font-weight: 600;"><i class="fa mr-2" aria-hidden="true"><img src="assets/images/excel_icon.png" alt="" class=""> </i>  Export To Excel</button>
                        <br />
                        <br />
                    </div>

                </div>
                <!-- <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-2" style="text-align: center;"></div>
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-2" style="text-align: right;">
                        <button
                            class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="filterCovidReports();">
                            Search
                        </button>

                        <button style="margin-left: 5px; margin-right: 5px;"
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="resetSearch();">
                            Reset
                        </button>

                        <button mat-raised-button color="primary" *ngIf="recordCount > 0" (click)="exportToExcel()"
                            style="text-align: center; margin: auto; float: right;">Export To Excel</button>
                        <br />
                        <br />
                    </div>


                </div> -->
            </div>


            <div *ngIf="recordCount > 0">
                <h5>Total Records: {{ recordCount }}</h5>
            </div>



            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200" id="covid-report-table">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            S No
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Test Date</span>
                                                <mat-icon (click)="sortData('TestDate', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'TestDate')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('TestDate', 'asc')"
                                                    *ngIf="sortedColumn === 'TestDate' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('TestDate', 'desc')"
                                                    *ngIf="sortedColumn === 'TestDate' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>
                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Patient Name</span>
                                                <mat-icon (click)="sortData('PatientName', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'PatientName')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('PatientName', 'asc')"
                                                    *ngIf="sortedColumn === 'PatientName' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('PatientName', 'desc')"
                                                    *ngIf="sortedColumn === 'PatientName' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>
                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            IC/Passport Number
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Cell Number
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Test Type
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Covid Result</span>
                                                <mat-icon (click)="sortData('CovidResult ', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'CovidResult ')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('CovidResult ', 'asc')"
                                                    *ngIf="sortedColumn === 'CovidResult ' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('CovidResult ', 'desc')"
                                                    *ngIf="sortedColumn === 'CovidResult ' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container>
                                        <tr *ngFor="let dataSource of covidreports; let i = index;">
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ (pageCount)*pageSize + (i+1) }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ dataSource.VisitDate }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ dataSource.PTName }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ dataSource.IcNum }}
                                                </div>
                                            </td>


                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ dataSource.MobileNo }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ dataSource.LineDec | titlecase }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ dataSource.Diagnosis }}
                                                </div>
                                            </td>

                                        </tr>
                                    </ng-container>

                                    <tr *ngIf="!covidreports || covidreports.length===0">
                                        <td colspan="12"
                                            class="text-center text-mx text-gray-900 px-6 py-4 whitespace-nowrap ng-star-inserted">
                                            No Data Found
                                        </td>
                                    </tr>

                                    <!-- More people... -->
                                </tbody>
                            </table>

                        </div>

                        <br />
                        <div class="grid grid-cols-1 gap-4">
                            <div>
                                <div class="grid grid-cols-1 gap-4" style="float: left;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <h5>Page {{ pageCount }} of {{totalPageCount}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="grid grid-cols-2 gap-4" style="float: right;">
                                    <div *ngIf="pageCount > 1">
                                        <button (click)="changePage('prev')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Prev
                                        </button>
                                    </div>

                                    <div *ngIf="showNext">
                                        <button (click)="changePage('next')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Next
                                        </button>
                                    </div>
                                </div> -->
                                <div class="grid grid-cols-1 gap-4" style="float: right;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <app-paginator [totalPageCount]="totalPageCount"
                                                [resetPageIndex]=resetPageIndex [pageButtonsCount]=pageButtonsCount
                                                (changePage)="changePage($event)">
                                            </app-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>