/* Add application styles & imports to this file! */
a {
  cursor: pointer;
}

li {
  display: inline-block;
}

li.disabled {
  color         : gray;
  pointer-events: none;
  display       : inline-block;
}

li.active {
  color           : #ebfcef;
  background-color: #28a745 !important;
  display       : inline-block;
  pointer-events: none;
}

.pagination {
  justify-content: center;
  /* flex-wrap   : wrap; */
}