<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="grid grid-cols-1 gap-4">
            <h1 class="text-left font-weight-bold">Medical Surveillance Summary Report</h1>
        </div>

        <form class="medical-Surveillance-Summary-Report col-xl-12 col-12 p-0"
            [formGroup]="medicalSurveillanceSummaryForm" (ngSubmit)="onSubmit()" autocomplete="off">

            <div class="grid grid-cols-2 gap-4">
                <div>
                    <mat-form-field class="w-100 pb-1">
                        <mat-label class="fw600">
                            From Date <span class="text-danger">*</span></mat-label>
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="FromDate"
                            formControlName="FromDate" autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
                        <mat-datepicker #FromDate></mat-datepicker>
                        <mat-error *ngIf="errorState(formControls['FromDate'], 'fromDate').message">
                            {{ errorState(formControls['FromDate'], 'fromDate').message }}
                        </mat-error>
                    </mat-form-field>
                </div>


                <div>
                    <mat-form-field class="w-100 pb-1">
                        <mat-label class="fw600">
                            To Date <span class="text-danger">*</span></mat-label>
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="ToDate"
                            formControlName="ToDate" autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="ToDate"></mat-datepicker-toggle>
                        <mat-datepicker #ToDate></mat-datepicker>
                        <mat-error *ngIf="errorState(formControls['ToDate'], 'toDate').message">
                            {{ errorState(formControls['ToDate'], 'toDate').message }}
                        </mat-error>
                    </mat-form-field>
                </div>
            
            
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                    <button
                        class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                        type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>



        <div class="grid grid-cols-1 gap-4">

            <div class="d-flex mt-3">
                <h3 class="mr-3 pt-2">
                    <span class="pl-1 fs14 fw700 mr-2">Medical Surveillance Summary Report</span>
                    <span class="pl-1 fs14 fw700" *ngIf="medicalSurveillanceSummaryDetails?.length">(Total:
                        {{totalDocuments}})</span>
                </h3>

                <div class="mx-auto text-right col-sm-8 col-6">
                    <div class="pl-3 pr-2 pt-1 pb-1">
                        <button [disabled]="!medicalSurveillanceSummaryDetails?.length"
                            class="mat-focus-indicator mat-raised-button mat-button-base mat-primary ng-star-inserted"
                            type="button" [routerLink]="['/report-result/summary-report-medicalsur']">Summary
                            Report</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="grid grid-cols-1 gap-4 mt-2 bg-white shadow overflow-hidden border-b border-gray-200 sm:rounded-lg mb-4">
            <table class="min-w-full divide-y divide-gray-200" id="sales-Summary-Report-excel-table">
                <thead  class="bg-gray-50">
                    <tr>
                        <th scope="col"
                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500  tracking-wider">
                            Sr&nbsp;No.</th>
                        <th scope="col"
                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500  tracking-wider">
                            Employee Name
                        </th>
                        <th scope="col"
                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500  tracking-wider">
                            Date
                            of Test
                        </th>
                        <th scope="col"
                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500  tracking-wider">
                            Medical
                            Surveillance</th>
                        <th scope="col"
                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500  tracking-wider">
                            MS -
                            Record Book</th>
                        <th scope="col"
                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500  tracking-wider">
                            Certificate of Fitness</th>
                        <!-- <th scope="col" class="pl-1 border-right text-center text-dark w-space-normal">Medical Surveillance Summary Report</th> -->
                        <th scope="col"
                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500  tracking-wider">
                            Medical Removal
                            Protection</th>

                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <ng-container *ngIf="medicalSurveillanceSummaryDetails?.length; else noDataFound">
                        <tr *ngFor="let data of medicalSurveillanceSummaryDetails; index as i"
                            class="border-bottom pb-1 ng-star-inserted">
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{i+1}}.
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <a href="javascript:void(0)" class="rounded mt-0 pl-1 pr-1 pt-1 pb-1">
                                    <span class="text-sm text-gray-900">
                                        {{data.EmployeeName}}
                                    </span>
                                </a>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{data.DateOfTest}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="btn btn-warning min-width btn-sm fs14 fw500 rounded-pill" type="button"
                                    (click)="goToMedicalSurveillanceReport(data)">
                                    <span>Get Report</span>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="btn btn-warning btn-sm fs14 fw500 rounded-pill" type="button"
                                    (click)="goToMedicalRecordBookReport(data)">
                                    <span>Get Report</span>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="btn btn-warning min-width btn-sm fs14 fw500 rounded-pill" type="button"
                                    (click)="goToCertificateFitness(data)">
                                    <span>Get Report</span>
                                </div>
                            </td>
                            <!-- <td class="pl-2 border-right text-center w-space-normal">
                                            {{ data.AdjustmentAmount | number:'1.2' }}
                                        </td> -->
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="btn btn-warning min-width btn-sm fs14 fw500 rounded-pill" type="button"
                                    (click)="goToMedicalRemovalProtection(data)">
                                    <span>Get Report</span>
                                </div>
                            </td>
                        </tr>

                    </ng-container>
                </tbody>
            </table>
        </div>

        <!-- <div *ngIf="clientListData?.length && (totalDocuments > pageSize)" class="col-xl-12 col-12 pb-3 d-flex justify-content-end"> -->
        <div *ngIf="medicalSurveillanceSummaryDetails?.length" class="col-xl-12 col-12 pb-3 d-flex justify-content-end">

            <!-- <div class="grid grid-cols-1 gap-4" style="float: left;">
                <div class="flex flex-wrap -mx-3 mb-6" *ngIf="numberOfPages > 0">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <h5>Page {{ currentPage }} of {{numberOfPages}}</h5>
                    </div>
                </div>
            </div> -->

            <div class="grid grid-cols-1 gap-4">
                <div>
                    <div class="grid grid-cols-1 gap-4" style="float: left;">
                        <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                            <div class="w-full px-3 mb-6 md:mb-0">
                                <h5>Page {{ currentPage }} of {{totalPageCount}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-4" style="float: right;">
                        <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                            <div class="w-full px-3 mb-6 md:mb-0">
                                <app-paginator [totalPageCount]="totalPageCount" [resetPageIndex]=resetPageIndex
                                    [pageButtonsCount]=pageButtonsCount (changePage)="changePage($event)">
                                </app-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="d-inline-block">
                <ul class="pagination justify-content-end mb-0">
                    <li class="page-item" [class.disabled]="currentPage == 1">
                        <a class="page-link badge-yellow fs14" href="javascript:void(0)" (click)="prevPage(50)">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link badge-yellow fs14 fw600 h-100 p-1">
                            <input type="number" min="1" [max]="numberOfPages"
                                class="fs14 fw600 text-center p-0 border-none form-control h-100 pagination-input"
                                [(ngModel)]="currentPage" (change)="pageEntered(50)">
                        </a>
                    </li>
                    <li class="page-item" [class.disabled]="currentPage == numberOfPages">
                        <a class="page-link badge-yellow fs14" href="javascript:void(0)" (click)="nextPage(50)">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
                <p class="fs14 text-darkgrey text-center fw500 m-0">
                    Page {{currentPage}} of {{numberOfPages}}
                </p>
            </div> -->
        </div>

    </div>
</div>

<ng-template #noDataFound>
    <tr>
        <td colspan="9" class="text-center pt-2 pb-2">No Data Found.</td>
    </tr>
</ng-template>