<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 pb-2 sm:p-10">

        <h1 class="mb-5">Selected Plan</h1>

        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
            <div class="relative">
                <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                    id="grid-selectedYear" (change)="onYearChange($event)" [(ngModel)]="selectedYear"
                    autocomplete="off">
                    <option [value]="''">- Select -</option>
                    <option [value]="y" *ngFor="let y of yearList;">{{ y }}</option>
                </select>

            </div>
        </div>
        <form class="w-full" [formGroup]="planForm">
            <div class="flex space-x-4">
                <div class="flex-1" *ngFor="let plan of planDetails; let i = index;">
                    <div class="w-full mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-1xl mb-5">

                        <h1 class="text-white text-center pt-3 pb-3" style="background-color: #ffc107">{{plan.PlanName}}
                        </h1>

                        <div class="md:flex">
                            <div class="p-2 pb-4 mx-auto text-center">
                                <h3 class="uppercase mb-0">Minimum Per Visit</h3>

                                <input *ngIf="showFormFields" [readonly]="isPlanFinalized"
                                    class="appearance-none block w-full border rounded py-2 mt-3 text-center px-4 mb-3 bg-white"
                                    id="grid-MinPerVisit" type="text" placeholder="Enter Value"
                                    formControlName='MinPerVisit{{plan.PlanName}}' autocomplete="off">

                                <h4 *ngIf="!showFormFields" class="mt-2">
                                    {{ plan.MinPerVisit }}
                                </h4>
                                <h3 class="uppercase mb-0">Minimum Per Month</h3>

                                <input *ngIf="showFormFields" [readonly]="isPlanFinalized"
                                    class="appearance-none block w-full border rounded py-2 mt-3 text-center px-4 mb-3 bg-white"
                                    id="grid-MinPerMonth" type="text" placeholder="Enter Value"
                                    formControlName="MinPerMonth{{plan.PlanName}}" autocomplete="off">

                                <h4 *ngIf="!showFormFields" class="mt-2">
                                    {{ plan.MinPerMonth }}
                                </h4>

                                <h3 class="uppercase mb-0">Minimum Per Year</h3>

                                <input *ngIf="showFormFields" [readonly]="isPlanFinalized"
                                    class="appearance-none block w-full border rounded py-2 mt-3 text-center px-4 mb-3 bg-white"
                                    id="grid-MinPerYear" type="text" placeholder="Enter Value"
                                    formControlName="MinPerYear{{plan.PlanName}}" autocomplete="off">

                                <h4 *ngIf="!showFormFields" class="mt-2">
                                    {{ plan.MinPerYear }}
                                </h4>

                                <input type="checkbox" class="form-checkbox" [disabled]="isPlanFinalized"
                                    formControlName="CoverFamily{{plan.PlanName}}"
                                    [ngModelOptions]="{standalone: true}">
                                
                                <h4 class="mt-2">
                                    Family Cover(Spouse And Children)
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="flex flex-wrap -mx-3 mb-6" *ngIf="showFormButtons">
            <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0" style="text-align: right;">
                <!-- <p class="text-red-500 text-lg italic" *ngIf="showValidationMessage()">
                    Please enter only numbers
                </p> -->
                <p class="text-red-500 text-s italic" *ngIf="planForm.get('MinPerVisitSilver') && planForm.get('MinPerVisitSilver').invalid 
                && (planForm.get('MinPerVisitSilver').dirty 
                || planForm.get('MinPerVisitSilver').touched)">
                    <ng-container *ngIf="planForm.get('MinPerVisitSilver').errors.pattern">
                        Please enter only numbers
                    </ng-container>
                </p>
                <p class="text-red-500 text-s italic" *ngIf="planForm.get('MinPerVisitGold')  && planForm.get('MinPerVisitGold').invalid 
                && (planForm.get('MinPerVisitGold').dirty || planForm.get('MinPerVisitGold').touched)">
                    <ng-container *ngIf="planForm.get('MinPerVisitGold').errors.pattern">
                        Please enter only numbers
                    </ng-container>
                </p>
                <p class="text-red-500 text-s italic" *ngIf="planForm.get('MinPerVisitPlatinum') && planForm.get('MinPerVisitPlatinum').invalid 
                && (planForm.get('MinPerVisitPlatinum').dirty 
                || planForm.get('MinPerVisitPlatinum').touched)">
                    <ng-container *ngIf="planForm.get('MinPerVisitPlatinum').errors.pattern">
                        Please enter only numbers
                    </ng-container>
                </p>
                <p class="text-red-500 text-s italic" *ngIf="planForm.get('MinPerMonthSilver').invalid 
                && (planForm.get('MinPerMonthSilver').dirty 
                || planForm.get('MinPerMonthSilver').touched)">
                    <ng-container *ngIf="planForm.get('MinPerMonthSilver').errors.pattern">
                        Please enter only numbers
                    </ng-container>
                </p>
                <p class="text-red-500 text-s italic" *ngIf="planForm.get('MinPerMonthGold').invalid 
                && (planForm.get('MinPerMonthGold').dirty || planForm.get('MinPerMonthGold').touched)">
                    <ng-container *ngIf="planForm.get('MinPerMonthGold').errors.pattern">
                        Please enter only numbers
                    </ng-container>
                </p>
                <p class="text-red-500 text-s italic" *ngIf="planForm.get('MinPerMonthPlatinum').invalid 
                && (planForm.get('MinPerMonthPlatinum').dirty 
                || planForm.get('MinPerMonthPlatinum').touched)">
                    <ng-container *ngIf="planForm.get('MinPerMonthPlatinum').errors.pattern">
                        Please enter only numbers
                    </ng-container>
                </p>

                <p class="text-red-500 text-s italic" *ngIf="planForm.get('MinPerYearSilver').invalid 
                && (planForm.get('MinPerYearSilver').dirty 
                || planForm.get('MinPerYearSilver').touched)">
                    <ng-container *ngIf="planForm.get('MinPerYearSilver').errors.pattern">
                        Please enter only numbers
                    </ng-container>
                </p>
                <p class="text-red-500 text-s italic" *ngIf="planForm.get('MinPerYearGold').invalid 
                && (planForm.get('MinPerYearGold').dirty || planForm.get('MinPerYearGold').touched)">
                    <ng-container *ngIf="planForm.get('MinPerYearGold').errors.pattern">
                        Please enter only numbers
                    </ng-container>
                </p>
                <p class="text-red-500 text-s italic" *ngIf="planForm.get('MinPerYearPlatinum').invalid 
                && (planForm.get('MinPerYearPlatinum').dirty 
                || planForm.get('MinPerYearPlatinum').touched)">
                    <ng-container *ngIf="planForm.get('MinPerYearPlatinum').errors.pattern">
                        Please enter only numbers
                    </ng-container>
                </p>
            </div>
            <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0" style="text-align: right;">
                <button [disabled]="isPlanFinalized || !isPlanRetrieved || planForm.invalid" (click)="savePlan();"
                    class="shadow bg-purple-500 disabled:bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button">
                    Save
                </button>

                <button [disabled]="isPlanFinalized || !isPlanRetrieved || planForm.invalid" (click)="finalizePlan();"
                    style="margin-left: 5px;"
                    class="shadow bg-purple-500 disabled:bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button">
                    Save & Finalize
                </button>
            </div>
        </div>





        <br />
        <!-- <h1 class="mb-5">New Plan (2022)</h1>

        <div class="flex space-x-4">
            <div class="flex-1"  *ngFor="let newPlan of newPlanDetails;">
                <div class="w-full mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-1xl mb-5">

                    <h1 class="text-white text-center pt-3 pb-3" style="background-color: #ffc107">{{newPlan.PlanName}}</h1>

                    <div class="md:flex">
                        <div class="p-8 mx-auto text-center">
                            <h3 class="uppercase mb-0">Minimum Per Visit</h3>

                            <h4 *ngIf="!showFormFields" class="mt-2">
                                {{ newPlan.MinPerVisit }}
                            </h4>
                            <h3 class="uppercase mb-0">Minimum Per Month</h3>

                            <h4 *ngIf="!showFormFields" class="mt-2">
                                {{ newPlan.MinPerMonth }}
                            </h4>
                            <h3 class="uppercase mb-0">Minimum Per Year</h3>

                            <h4 *ngIf="!showFormFields" class="mt-2">
                                {{ newPlan.MinPerYear }}
                            </h4>
                            <h3 class="uppercase mb-0">Expire Year</h3>

                            <h4 *ngIf="!showFormFields" class="mt-2">
                                {{ newPlan.ExpireYear }}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


    </div>

</div>