.flex-3 {
    flex: 0 1 calc(30%);
}
.bg-purple-500 {
    background-color: #28a745 !important;
}
.hover\:bg-purple-400:hover {
    background-color: #29b349 !important;
}
.disabled\:bg-purple-500:disabled {
    color : rgba(0, 0, 0, 0.26) !important;
    background-color: transparent !important;
}
input:read-only { 
    color : rgba(0, 0, 0, 0.26) !important;
    background-color: transparent !important;
}