.radio-group {
    display       : flex;
    flex-direction: column;
    margin        : 15px 0;
}

.radio-button {
    margin: 5px;
}

.bg-purple-500 {
    background-color: #28a745 !important;
}

.hover\:bg-purple-400:hover {
    background-color: #29b349 !important;
}

.disabled\:bg-purple-500:disabled {
    color           : rgba(0, 0, 0, 0.26) !important;
    background-color: transparent !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.rounded-top {
    border-top-left-radius : 12px !important;
    border-top-right-radius: 12px !important;
    font-size              : 19px;
    font-weight            : 500;
}

.btn-danger {
    color           : #fff !important;
    background-color: #ff0202 !important;
    border-color    : #ff0202 !important;
}

.btn-danger:hover {
    color           : #fff;
    background-color: #c82333 !important;
    border-color    : #bd2130 !important;
}

.btn {
    position           : absolute;
    display            : inline-block;
    font-weight        : 400;
    color              : #212529;
    bottom             : 25px;
    text-align         : center;
    vertical-align     : middle;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    background-color   : transparent;
    border             : 1px solid transparent;
    padding            : 6px 28px;
    font-size          : 1rem;
    line-height        : 1.5;
    border-radius      : 6px;
    margin-left        : 19% !important;
    transition         : color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}