<div class="bg-warning pl-4 p-4 pb-1 rounded-top">
    <p>Payment Details</p>
</div>

<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 w-full min-w-0">
    <div class="flex flex-col flex-auto p-6">
        <div class="mt-1">
            <label class="justify-left mt-5 text-secondary ml-1">Payment Method </label>
            <mat-radio-group class="radio-group" [(ngModel)]="selectedPaymentMethod">
                <mat-radio-button class="radio-button" *ngFor="let method of paymentMethods" [value]="method"
                    (change)="changePaymentType($event)">
                    {{method.PTName}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="flex flex-col flex-auto p-6">
        <div class="mt-1">
            <label class="justify-left mt-5 text-secondary ml-1">Total Invoice Amount: </label>
            <label class="ml-1">{{invoice.TotalAmmount | number : '1.2-2'}}</label>
        </div>
    </div>
    <div class="mt-1">
        <label class="justify-left mt-5 text-secondary ml-1">Today's Date: </label>
        <label class="ml-1">{{currentDate | date}}</label>
    </div>
</div>

<button type="button" mat-button (click)="closePopup()"
    class="mat-focus-indicator btn btn-danger ml-4 mat-button mat-button-base"><span
        class="mat-button-wrapper">Close</span></button>

<div *ngIf="selectedPaymentMethod">
    <form class="w-full" [formGroup]="invoicePaymentForm" (ngSubmit)="updatePaymentDetails();">
        <div class="flex-auto">
            <div class="w-full max-w-screen-xl mx-auto">
                <div class="grid grid-cols-1">
                    <div class="flex flex-col mt-2">
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <div *ngIf="selectedPaymentMethod.PTName !== 'Cheque'" class="mt-1">
                                <div class="mt-1">
                                    <label class="uppercase tracking-wide text-gray-700 text-xs font-bold
                                         mb-2 justify-left mt-5 text-secondary ml-1">Transaction Id
                                    </label>
                                    <label class="text-red-500 text-s ml-1">*</label>
                                </div>
                                <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                                    id="transaction-id" type="text" formControlName="transactionId"
                                    placeholder="Enter Transaction Id" autocomplete="off">
                                <p class="text-red-500 text-s italic" *ngIf="invoicePaymentForm.get('transactionId').invalid 
                                    && (invoicePaymentForm.get('transactionId').dirty
                                     || invoicePaymentForm.get('transactionId').touched)">
                                    <ng-container *ngIf="invoicePaymentForm.get('transactionId').errors.pattern">Please
                                        enter only alphanumeric characters
                                    </ng-container>
                                    <ng-container *ngIf="invoicePaymentForm.get('transactionId').errors.required">This
                                        field is
                                        required
                                    </ng-container>
                                </p>
                            </div>
                            <div *ngIf="selectedPaymentMethod.PTName === 'Cheque'" class="mt-1">
                                <div class="mt-1">
                                    <label class="uppercase tracking-wide text-gray-700 text-xs font-bold
                                         mb-2 justify-left mt-5 text-secondary ml-1">Cheque No.
                                    </label>
                                    <label class="text-red-500 text-s ml-1">*</label>
                                </div>
                                <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                                    id="cheque-number" type="text" formControlName="chequeNumber"
                                    placeholder="Enter Cheque No" autocomplete="off">
                                <p class="text-red-500 text-s italic"
                                    *ngIf="invoicePaymentForm.get('chequeNumber').invalid && (invoicePaymentForm.get('chequeNumber').dirty || invoicePaymentForm.get('chequeNumber').touched)">
                                    <ng-container *ngIf="invoicePaymentForm.get('chequeNumber').errors.pattern">Please
                                        enter only alphanumeric characters
                                    </ng-container>
                                    <ng-container *ngIf="invoicePaymentForm.get('chequeNumber').errors.required">This
                                        field is
                                        required
                                    </ng-container>
                                </p>
                            </div>
                            <div *ngIf="selectedPaymentMethod.PTName === 'Cheque'" class="mt-1">
                                <div class="mt-1">
                                    <label class="uppercase tracking-wide text-gray-700 text-xs font-bold
                                         mb-2 justify-left mt-5 text-secondary ml-1">Cheque Date
                                    </label>
                                    <label class="text-red-500 text-s ml-1">*</label>
                                </div>
                                <mat-form-field appearance="fill" style="width: 100%;">
                                    <input matInput [matDatepicker]="chequeIssuedDate" [max]="currentDate"
                                        [min]="startDate" placeholder="Cheque Issued Date (dd/mm/yyyy)"
                                        formControlName="chequeDate" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="chequeIssuedDate"></mat-datepicker-toggle>
                                    <mat-datepicker #chequeIssuedDate></mat-datepicker>
                                </mat-form-field>

                                <p class="text-red-500 text-s italic" *ngIf="invoicePaymentForm.get('chequeDate').invalid && (invoicePaymentForm.get('chequeDate').dirty 
                                    || invoicePaymentForm.get('chequeDate').touched)">
                                    <ng-container *ngIf="!invoicePaymentForm.get('chequeDate').errors.matDatepickerParse 
                                        && invoicePaymentForm.get('chequeDate').errors.required">
                                        Please fill out this field
                                    </ng-container>
                                    <ng-container *ngIf="invoicePaymentForm.get('chequeDate').errors.matDatepickerParse
                                    || invoicePaymentForm.get('chequeDate').errors.matDatepickerMin
                                    || invoicePaymentForm.get('chequeDate').errors.matDatepickerMax">Please select
                                        a valid date
                                    </ng-container>
                                </p>
                            </div>
                            <div class="mt-1">

                                <div class="mt-1">
                                    <label class="uppercase tracking-wide text-gray-700 text-xs font-bold
                                         mb-2 justify-left mt-5 text-secondary ml-1">Amount
                                    </label>
                                    <label class="text-red-500 text-s ml-1">*</label>
                                </div>
                                <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                                    id="amount" type="text" placeholder="Enter Amount" formControlName="amount"
                                    autocomplete="off">

                                <p class="text-red-500 text-s italic"
                                    *ngIf="invoicePaymentForm.get('amount').invalid && (invoicePaymentForm.get('amount').dirty || invoicePaymentForm.get('amount').touched)">
                                    <ng-container *ngIf="invoicePaymentForm.get('amount').errors.pattern">Please enter
                                        only
                                        numbers
                                    </ng-container>
                                    <ng-container *ngIf="invoicePaymentForm.get('amount').errors.required">This field is
                                        required
                                    </ng-container>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="grid grid-cols-1 gap-4">
                <div>
                    <div class="grid grid-cols-2 gap-4" style="float: right;">
                        <div>
                            <button [disabled]='invoicePaymentForm.invalid' class="shadow bg-purple-500 hover:bg-purple-400 disabled:bg-purple-500 focus:shadow-outline 
                            focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="mt-1">
    <label class="justify-left mt-5 text-red-500 ml-1">Remaining Balance: </label>
    <!-- <label class="ml-1">{{'123456.0989' | number : '1.2-2'}}</label> -->
    <label class="ml-1">{{invoice.RemainingBalance | number : '1.2-2'}}</label>
</div>