.text-muted-custom {
    color: #ccc !important;
}
.adjustColumnIconHeight {
    margin-bottom: 0.5rem;
}
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
  min-height: 32px !important;
  }
  .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-input-element {
    padding: 9px 0 !important;
    }

    .py-4 {
        padding-top: 11px !important;
        padding-bottom: 11px !important;
    }
    
    body.light .mat-flat-button.mat-primary, body.light .mat-raised-button.mat-primary, body.light .mat-fab.mat-primary, body.light .mat-mini-fab.mat-primary, body .light .mat-flat-button.mat-primary, body .light .mat-raised-button.mat-primary, body .light .mat-fab.mat-primary, body .light .mat-mini-fab.mat-primary {
        background-color: #248af7;
    }
    .bg-purple-500 {
        background-color: #28a745 !important;
    }
    .hover\:bg-purple-400:hover {
        background-color:  #28a745 !important;
    }
    .py-3 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .rounded {
        border-radius: 6px !important;
    }
    .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-prefix .mat-icon-button, .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix .mat-icon-button {
        width: 35px;
        min-width: 35px;
        height: 35px;
        min-height: 35px;
    }
    .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
        min-height: 27px !important;
    }
