<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="">

            <h1>MC Report</h1>

            <div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                            id="grid-first-name" type="text" placeholder="Enter name"
                            [(ngModel)]="searchField.EmployeeName" autocomplete="off">
                    </div>
                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.ClinicCode" autocomplete="off">
                                <option [value]="''">- Select Clinic -</option>

                                <ng-container *ngFor="let c of clinicData;">
                                    <option [value]="c.clinicCode">{{ c.clinicName }}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>

                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="visit_date" [min]="startDate"
                                    placeholder="Visit Date (dd/mm/yyyy)" autocomplete="off"
                                    [(ngModel)]="searchField.VisitDate">
                                <mat-datepicker-toggle matSuffix [for]="visit_date"></mat-datepicker-toggle>
                                <mat-datepicker #visit_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="from_date" [min]="startDate"
                                    placeholder="From Date (dd/mm/yyyy)" autocomplete="off"
                                    [(ngModel)]="searchField.StartDate">
                                <mat-datepicker-toggle matSuffix [for]="from_date"></mat-datepicker-toggle>
                                <mat-datepicker #from_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="to_date" [min]="searchField.StartDate"
                                    placeholder="To Date (dd/mm/yyyy)" autocomplete="off"
                                    [(ngModel)]="searchField.EndDate">
                                <mat-datepicker-toggle matSuffix [for]="to_date"></mat-datepicker-toggle>
                                <mat-datepicker #to_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0" style="text-align: right;">
                        <button
                            class="gap-4 mr-3 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="filterReportData();">
                            Search
                        </button>

                        <button style="margin-left: 5px;"
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="resetSearch();">
                            Reset
                        </button>
                    </div>

                    <div class="w-full px-3 mb-6 md:mb-0">
                        <button mat-raised-button color="primary" *ngIf="recordCount > 0" (click)="exportToExcel()"
                            style="text-align: center; margin: auto; float: right;">Export To Excel</button>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div *ngIf="recordCount > 0">
                <h5>Total Records: {{ recordCount }}</h5>
            </div>



            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200" id="report-list-table">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Sr No
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <!-- Clinic Visit Date -->

                                            <div class="">
                                                <span>Clinic Visit Date</span>
                                                <mat-icon (click)="sortData('VisitDate', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'VisitDate')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('VisitDate', 'asc')"
                                                    *ngIf="sortedColumn === 'VisitDate' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('VisitDate', 'desc')"
                                                    *ngIf="sortedColumn === 'VisitDate' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Patient Name
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            MC No.
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <!-- Start Date -->
                                            <div class="">
                                                <span>Start Date</span>
                                                <mat-icon (click)="sortData('StartDate', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'StartDate')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('StartDate', 'asc')"
                                                    *ngIf="sortedColumn === 'StartDate' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('StartDate', 'desc')"
                                                    *ngIf="sortedColumn === 'StartDate' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <!-- End Date -->
                                            <div class="">
                                                <span>End Date</span>
                                                <mat-icon (click)="sortData('EndDate', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'EndDate')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('EndDate', 'asc')"
                                                    *ngIf="sortedColumn === 'EndDate' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('EndDate', 'desc')"
                                                    *ngIf="sortedColumn === 'EndDate' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            MC Day(s)
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            MC Reason
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">

                                            <div class="">
                                                <span>Clinic</span>
                                                <mat-icon (click)="sortData('ClinicName', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'ClinicName')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('ClinicName', 'asc')"
                                                    *ngIf="sortedColumn === 'ClinicName' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('ClinicName', 'desc')"
                                                    *ngIf="sortedColumn === 'ClinicName' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                            <!-- Clinic -->
                                        </th>
                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container *ngFor="let data of reportData; let i = index;">
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ (pageCount-1)*pageSize + (i+1) }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{data.visitDt | date}}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{data.employeeName}}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{data.TC_MC_Number}}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{data.startDt | date}}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{data.endDt | date}}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{data.MCDays}}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{data.MC_Reason}}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{data.clinicName}}</div>
                                            </td>
                                        </tr>
                                    </ng-container>

                                    <tr *ngIf="!reportData || reportData.length===0">
                                        <td colspan="12"
                                            class="text-center text-mx text-gray-900 px-6 py-4 whitespace-nowrap ng-star-inserted">
                                            No Data Found
                                        </td>
                                    </tr>

                                    <!-- More people... -->
                                </tbody>
                            </table>

                        </div>

                        <br />
                        <div class="grid grid-cols-1 gap-4">
                            <div>
                                <div class="grid grid-cols-1 gap-4" style="float: left;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <h5>Page {{ pageCount }} of {{totalPageCount}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="grid grid-cols-2 gap-4" style="float: right;">
                                    <div *ngIf="pageCount > 1">
                                        <button (click)="changePage('prev')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Prev
                                        </button>
                                    </div>

                                    <div *ngIf="showNext">
                                        <button (click)="changePage('next')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Next
                                        </button>
                                    </div>
                                </div> -->
                                <div class="grid grid-cols-1 gap-4" style="float: right;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <app-paginator [totalPageCount]="totalPageCount"
                                                [resetPageIndex]=resetPageIndex [pageButtonsCount]=pageButtonsCount
                                                (changePage)="changePage($event)">
                                            </app-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>