.text-muted-custom {
    color: #ccc !important;
}
.adjustColumnIconHeight {
    margin-bottom: 0.5rem;
}
.bg-purple-500 {
    background-color: #28a745 !important;
}
.hover\:bg-purple-400:hover {
    background-color: #29b349 !important;
}
.disabled\:bg-purple-500:disabled {
    color : rgba(15, 12, 12, 0.26) !important;
    background-color: transparent !important;
}