<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">

        <h1>Settings Management</h1>
        <br />
        <div>
            <div class="grid grid-cols-2 w-full">
                <div style="padding: 1rem;" class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="grid grid-cols-2 md:w-5/6" style="margin-left: 3rem;">
                        <div class="text-xl font-medium tracking-tight leading-6 truncate">Department
                        </div>
                        <div>
                            <button style="float: right;"
                                class="gap-4 md:w-1/3 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white pl-3 pr-3 pt-1 pb-1 rounded"
                                type="button" (click)="addDepartment()">
                                Add
                            </button>
                        </div>

                    </div>
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="md:w-4/5 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="adjustColumnIconHeight">
                                                <span>Name</span>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Action
                                        </th>

                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container *ngFor="let d of departmentList; let i = index;">
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ d.DepartmentName }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <button
                                                    class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white pl-3 pr-3 pt-1 pb-1 rounded"
                                                    type="button" (click)="editDepartment(d)">
                                                    Edit
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>

                                    <tr *ngIf="!departmentList || departmentList.length===0">
                                        <td colspan="12"
                                            class="text-center text-mx text-gray-900 px-6 py-4 whitespace-nowrap ng-star-inserted">
                                            No Data Found
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                    </div>
                </div>
                <div style="padding: 1rem;" class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="grid grid-cols-1 md:w-5/6" style="margin-left: 3rem;">
                        <div class="text-xl font-medium tracking-tight leading-6 truncate">Section/Division
                        </div>
                    </div>
                    <br />
                    <div class="grid grid-cols-2 md:w-5/6" style="margin-left: 3rem;">
                        <div>
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="selectedDepartment" autocomplete="off"
                                (change)="changeDepartment($event)">

                                <option [value]="''">- Select Department -</option>

                                <ng-container *ngFor="let d of departmentList;">
                                    <option [value]="d.DepartmentId">{{ d.DepartmentName }}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div>
                            <button style="float: right;"
                                class="gap-4 md:w-1/3 shadow bg-purple-500 hover:bg-purple-400 disabled:bg-purple-500  focus:shadow-outline focus:outline-none text-white pl-3 pr-3 pt-1 pb-1 rounded"
                                [disabled]="!selectedDepartment || selectedDepartment===''" type="button"
                                (click)="addCostCenter()">
                                Add
                            </button>
                        </div>
                    </div>
                    <div class="py-2 align-middle inline-block min-w-full sm:px-12 lg:px-8">
                        <p class="text-red-500 text-s italic" *ngIf="!selectedDepartment || selectedDepartment===''">
                            Please select a department to see Cost Center List</p>
                    </div>
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="md:w-4/5 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="adjustColumnIconHeight">
                                                <span>Name</span>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Action
                                        </th>

                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container *ngFor="let c of costCenterList; let i = index;">
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ c.CostCeterName }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <button
                                                    class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white pl-3 pr-3 pt-1 pb-1 rounded"
                                                    type="button" (click)="editCostCenter(c)">
                                                    Edit
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>

                                    <tr *ngIf="!costCenterList || costCenterList.length===0">
                                        <td colspan="12"
                                            class="text-center text-mx text-gray-900 px-6 py-4 whitespace-nowrap ng-star-inserted">
                                            No Data Found
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>