/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-prefix .mat-icon-button, .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix .mat-icon-button {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    }
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
    min-height: 30px !important;
    border-radius: 4px !important;
    padding: 0 16px;
    border-width: 1px;
    }
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-input-element {
        padding: 9px 0 !important;
    }
    .pagination{}
    .pagination li{
        padding: 9px 12px 6px 12px !important;
        background: #e8e8e8;
        margin-right: 9px !important;
        }
    .pagination li:hover{  background: #28a745 ; color: #ffffff;}

    .pagination li .active{  background: #28a745 ; }
    .py-4 {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }

    .sidebar {  
        height: 100% !important;    
        min-height: 100% !important;   
        max-height: 125vh !important;
    }

    li.disabled {
        color: #312e2e !important;
    }

    *, ::before, ::after {
        --tw-border-opacity: 1 !important;
        border-color: #cbd5e1;
    }

    table th.py-4 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    // table td.py-4 {
    //     padding-top: 2px !important;
    //     padding-bottom: 2px!important;
    // }


.silver_plan{
        background: #abaaaf;      
        color: #000;  
        }
.gold_plan{
        background: #e08413;      
        color: #000;  
        }
.platinum_plan{
        background: #9c9aa5;  
        color: #000;  
        }
.mat-h1, .mat-headline, .mat-typography h1 {
            font: 600 21px/32px Roboto, "Helvetica Neue", sans-serif;
            letter-spacing: normal;
            margin: 0 0 16px;
            text-transform: uppercase !important;
          }

