/* ----------------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ----------------------------------------------------------------------------------------------------- */
@tailwind utilities;

.text-gray-500 {
    --tw-text-opacity: 1 !important;
    color: #000  !important;
}