<!-- <div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-10 sm:p-10">

        <div class="grid grid-cols-1 gap-4">
            <h1 class="">Report Details</h1>
            <div class="grid grid-cols-1">
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                    style="cursor: pointer;">
                    <div class="grid grid-cols-1 w-full flex flex-col items-center mt-2 sm:rounded-lg">
                        <div class="grid grid-cols-2 w-full">
                            <div class="mt-1">
                                <label class="justify-left mt-5 text-secondary ml-1">Employee Name: </label>
                                <label class="ml-1">{{employeeName}}</label>
                            </div>
                            <div class="mt-1">
                                <label class="justify-left mt-5 text-secondary ml-1">Employee Id: </label>
                                <label class="ml-1">{{employeeId}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->

 <!-- <section class="dashboard pt-1 pb-2 pl-0 animated fadeIn">
    <div class="container-fluid">
        <form class="audiometry-ResultForm col-xl-12 col-12 p-0" [formGroup]="audiometryResultForm"
            (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="row pt-2">
                <div class="col-xl-12 col-12">
                    <div class="bg-white shadow-sm rounded w-100">
                        <div class="row">
                            <div class="col-xl-12 col-12">
                                <div
                                    class="pt-3 px-3 bg-primary-blue text-white text-center rounded-top px-2 py-1 flex-row flex-wrap">
                                    <p class="fw600 fs16 mr-4 text-uppercase" *ngIf="employeeTestType === 'AUD'">
                                        Audiometric - Test Results (OHD MEDICAL EXAMINATION)</p>
                                    <p class="fw600 fs16 mr-4 text-uppercase" *ngIf="employeeTestType === 'AUS'">
                                        Audiometric - Screening Results</p>
                                </div>

                                <div class="row">
                                    <div class="col-xl-12 col-12">
                                        <div
                                            class="bg-color2 rounded-top px-3 pt-2 mb-1 d-flex justify-content-start flex-row flex-wrap">
                                            <h6 class="mr-3">
                                                <small class="fw700 fs16">Employee Information</small>
                                            </h6>
                                        </div>

                                        <div class="row px-3 pb-3 pt-3">
                                            <div class="col-md-4 col-12">
                                                <div class="bg-light p-2 rounded d-flex">
                                                    <mat-form-field class="disable-mat-form w-100">
                                                        <mat-label class="fw600">Employee name</mat-label>
                                                        <input matInput [(ngModel)]="employeeDetailsForAR.EmployeeName"
                                                            [ngModelOptions]="{standalone: true}"
                                                            placeholder="Enter Employee Name" type="text"
                                                            autocomplete="off" readonly>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-12">
                                                <div class="bg-light p-2 rounded d-flex">
                                                    <mat-form-field class="disable-mat-form w-100">
                                                        <mat-label class="fw600">MyKad/IC No.</mat-label>
                                                        <input matInput [(ngModel)]="employeeDetailsForAR.ICNUmber"
                                                            [ngModelOptions]="{standalone: true}"
                                                            placeholder="Enter MyKad/IC No." type="text"
                                                            autocomplete="off" readonly>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-12">
                                                <div class="bg-light p-2 rounded d-flex">
                                                    <mat-form-field class="disable-mat-form w-100">
                                                        <mat-label class="fw600">Company Name</mat-label>
                                                        <input matInput [(ngModel)]="employeeDetailsForAR.CompanyName"
                                                            [ngModelOptions]="{standalone: true}"
                                                            placeholder="Enter Company Name" type="text"
                                                            autocomplete="off" readonly>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" formGroupName="audiometricResult">
                                    <div class="col-xl-12 col-12">
                                        <div
                                            class="bg-color6 rounded-top px-3 pt-2 mb-1 d-flex justify-content-start flex-row flex-wrap">
                                            <h6 class="mr-3">
                                                <small class="fw700 fs16" *ngIf="employeeTestType === 'AUD'">Test
                                                    Information</small>
                                                <small class="fw700 fs16" *ngIf="employeeTestType === 'AUS'">Screening
                                                    Information</small>
                                            </h6>
                                        </div>

                                        <div class="row px-3 pb-3 pt-3">
                                            <div class="col-sm-2 col-12">
                                                <mat-form-field class="w-100 pb-2">
                                                    <mat-label class="fw600">Date of Test<span
                                                            class="text-red ml-1">*</span></mat-label>
                                                    <input autocomplete="off" formControlName="DateOfTest" matInput
                                                         [matDatepicker]="picker"
                                                        placeholder="Enter Test Date">
                                                    <mat-datepicker-toggle matSuffix [for]="picker" class="fs24">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                                                    <mat-error
                                                        *ngIf="errorState(audiometricTestGroup.controls['DateOfTest'], 'DateOfTest').message">
                                                        {{ errorState(audiometricTestGroup.controls['DateOfTest'],
                                                        'DateOfTest').message }}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-2 col-12">
                                                <mat-form-field class="w-100 pb-2">
                                                    <mat-label class="fw600">Exposure (dB)
                                                    </mat-label>
                                                    <input autocomplete="off" formControlName="Exposure" matInput
                                                        placeholder="Enter Exposure" type="text">
                                                    <mat-error
                                                        *ngIf="errorState(audiometricTestGroup.controls['Exposure'], 'Exposure').message">
                                                        {{ errorState(audiometricTestGroup.controls['Exposure'],
                                                        'Exposure').message }}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3 col-12">
                                                <mat-form-field class="w-100 pb-2">
                                                    <mat-label class="fw600">Maximum Exposure (dB)
                                                    </mat-label>
                                                    <input autocomplete="off" formControlName="MaxExposure" matInput
                                                        placeholder="Enter Maximum Exposure" type="text">
                                                    <mat-error
                                                        *ngIf="errorState(audiometricTestGroup.controls['MaxExposure'], 'MaxExposure').message">
                                                        {{ errorState(audiometricTestGroup.controls['MaxExposure'],
                                                        'MaxExposure').message }}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3 col-12">
                                                <mat-form-field class="w-100 pb-1">
                                                    <mat-label class="fw600">Type of Audiogram<span
                                                            class="text-red ml-1">*</span>
                                                    </mat-label>
                                                    <mat-select [typeaheadDebounceInterval]="500"
                                                        formControlName="TypeOfAudiogram"
                                                        (selectionChange)="onSelectChange()">
                                                        <mat-option class="fs12 fw600">Select Audiogram Type
                                                        </mat-option>
                                                        <mat-option class="fs12 fw600 text-uppercase" value="B">
                                                            BASELINE AUDIOGRAM
                                                        </mat-option>
                                                        <mat-option class="fs12 fw600 text-uppercase" value="A">
                                                            ANNUAL AUDIOGRAM
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error
                                                        *ngIf="errorState(audiometricTestGroup.controls['TypeOfAudiogram'], 'TypeOfAudiogram').message">
                                                        {{ errorState(audiometricTestGroup.controls['TypeOfAudiogram'],
                                                        'TypeOfAudiogram').message }}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-2 col-12">
                                                <mat-form-field class="w-100 pb-2">
                                                    <mat-label class="fw600">Audiometer
                                                    </mat-label>
                                                    <input autocomplete="off" matInput placeholder="Enter Audiometer"
                                                        formControlName="Audiometer" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-12 col-12" *ngIf="employeeTestType === 'AUD'">
                                                <mat-form-field class="w-100 pb-2">
                                                    <mat-label class="fw600">Results</mat-label>
                                                    <textarea matInput rows="5" cols="80" placeholder="Enter Results..."
                                                        formControlName="Results" autocomplete="off"></textarea>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-12 col-12" *ngIf="employeeTestType === 'AUD'">
                                                <mat-form-field class="w-100 pb-2">
                                                    <mat-label class="fw600">Remarks</mat-label>
                                                    <textarea matInput rows="2" cols="60" placeholder="Enter Remarks..."
                                                        formControlName="Remarks" autocomplete="off"></textarea>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <ng-container *ngIf="employeeTestType === 'AUS'">
                                    <ng-container formGroupName="auScreenSumAndReco">
                                        <div class="col-sm-12 col-12">
                                            <mat-label class="fw700">
                                                Summary:
                                                <div class="horizontal-line mt-2 p-0"></div>
                                            </mat-label>

                                            <div class="row pt-1 pb-1">
                                                <div class="col-xl-12 col-12 mt-3">
                                                    <div class="pb-1 mb-1 mt-1 bg-white shadow-sm rounded w-100">
                                                        <div
                                                            class="bg-primary-blue text-white rounded-top px-3 py-1 text-center flex-row flex-wrap">
                                                            <h6 class="mr-3 pt-2 text-uppercase">
                                                                <span
                                                                    class="pl-1 fs16 fw600 text-normal">Interpretation</span>
                                                            </h6>
                                                        </div>

                                                        <div class="table-responsive mb-0">
                                                            <table
                                                                class="table table-sm table-borderless px-2 text-left text-nowrap">
                                                                <thead class="bg-color7">
                                                                    <tr>
                                                                        <th scope="col" colspan="2"
                                                                            class="text-center border-right">Results
                                                                        </th>
                                                                        <th scope="col"
                                                                            class="text-center border-right-bold"
                                                                            style="min-width: 100px;">
                                                                            Normal</th>
                                                                        <th scope="col"
                                                                            class="text-center border-right-bold"
                                                                            style="min-width: 100px;">
                                                                            Hearing Loss</th>
                                                                        <th scope="col"
                                                                            class="text-center border-right-bold"
                                                                            style="min-width: 100px;">
                                                                            Hearing Impairment</th>
                                                                        <th scope="col" class="text-center"
                                                                            style="min-width: 100px;">
                                                                            Standard Threshold Shift</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    <ng-container>
                                                                        <tr>
                                                                            <td colspan="2"
                                                                                class="pr-3 pl-3 w-10 border-right border-bottom">
                                                                                <div class="text-muted w-10">
                                                                                    <mat-label class="fw700 w-10">
                                                                                        Right Ear</mat-label>
                                                                                </div>
                                                                            </td>

                                                                            <td
                                                                                class="border-right-bold border-bottom text-center w-10">
                                                                                <mat-checkbox color="primary"
                                                                                    formControlName="REnormal"
                                                                                    class="mr-3">
                                                                                </mat-checkbox>
                                                                            </td>
                                                                            <td
                                                                                class="border-right-bold border-bottom text-center w-10">
                                                                                <mat-checkbox color="primary"
                                                                                    formControlName="REhearingLoss"
                                                                                    class="mr-3">
                                                                                </mat-checkbox>
                                                                            </td>
                                                                            <td
                                                                                class="border-right-bold border-bottom text-center w-10">
                                                                                <mat-checkbox color="primary"
                                                                                    formControlName="REhearingImpair"
                                                                                    class="mr-3">
                                                                                </mat-checkbox>
                                                                            </td>
                                                                            <td class="border-bottom text-center w-10">
                                                                                <mat-checkbox color="primary"
                                                                                    formControlName="REStdThresholdShift"
                                                                                    class="mr-3">
                                                                                </mat-checkbox>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="2"
                                                                                class="pr-3 pl-3 w-10 border-right border-bottom">
                                                                                <div class="text-muted w-10">
                                                                                    <mat-label class="fw700 w-10">
                                                                                        Left Ear</mat-label>
                                                                                </div>
                                                                            </td>

                                                                            <td
                                                                                class="border-right-bold border-bottom text-center w-10">
                                                                                <mat-checkbox color="primary"
                                                                                    formControlName="LEnormal"
                                                                                    class="mr-3">
                                                                                </mat-checkbox>
                                                                            </td>
                                                                            <td
                                                                                class="border-right-bold border-bottom text-center w-10">
                                                                                <mat-checkbox color="primary"
                                                                                    formControlName="LEhearingLoss"
                                                                                    class="mr-3">
                                                                                </mat-checkbox>
                                                                            </td>
                                                                            <td
                                                                                class="border-right-bold border-bottom text-center w-10">
                                                                                <mat-checkbox color="primary"
                                                                                    formControlName="LEhearingImpair"
                                                                                    class="mr-3">
                                                                                </mat-checkbox>
                                                                            </td>
                                                                            <td class="border-bottom text-center w-10">
                                                                                <mat-checkbox color="primary"
                                                                                    formControlName="LEStdThresholdShift"
                                                                                    class="mr-3">
                                                                                </mat-checkbox>
                                                                            </td>
                                                                        </tr>
                                                                    </ng-container>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-12">
                                            <mat-label class="fw700">Recommendation (Follow Up Actions Need To Be
                                                Taken):
                                                <div class="horizontal-line mt-2 p-0"></div>
                                            </mat-label>

                                            <div class="row pt-1 pb-1">
                                                <div class="col-xl-12 col-12 mt-3">
                                                    <div class="pb-1 mb-1 mt-1 bg-white shadow-sm rounded w-100">
                                                        <div class="table-responsive mb-0">
                                                            <table
                                                                class="table table-sm table-borderless px-2 text-left text-nowrap">
                                                                <thead class="bg-color3 text-dark">
                                                                    <tr>
                                                                        <th scope="col" colspan="3"
                                                                            class="text-start text-dark"
                                                                            style="min-width: 100px;">
                                                                            Repeat Audiometry Tests</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    <ng-container>
                                                                        <tr>
                                                                            <td
                                                                                class="pl-3 text-left fw60 border-bottom border-right-bold">
                                                                                3 Months</td>
                                                                            <td class="border-bottom text-center w-10">
                                                                                <mat-checkbox color="primary"
                                                                                    formControlName="RepeatTest3month"
                                                                                    class="mr-3">
                                                                                </mat-checkbox>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td
                                                                                class="pl-3 text-left fw60 border-bottom border-right-bold">
                                                                                Annually</td>
                                                                            <td class="border-bottom text-center w-10">
                                                                                <mat-checkbox color="primary"
                                                                                    formControlName="RepeatTestAnnual"
                                                                                    class="mr-3">
                                                                                </mat-checkbox>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td
                                                                                class="pl-3 bg-color3 text-dark text-left fw600 border-right-bold">
                                                                                Referral For Diagnostic Audiometry
                                                                            </td>
                                                                            <td class="bg-color3 text-center w-10">
                                                                                <mat-checkbox color="primary"
                                                                                    formControlName="ReferralDiagnosticAudiometry"
                                                                                    class="mr-3">
                                                                                </mat-checkbox>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td
                                                                                class="pl-3 text-left fw60 border-bottom border-right-bold">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td
                                                                                class="pl-3 bg-color3 text-dark text-left fw600 border-right-bold">
                                                                                Hearing Conservation Programme
                                                                            </td>
                                                                            <td
                                                                                class="pl-3 bg-color3 text-dark text-left fw600">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td
                                                                                class="pl-3 text-left fw60 border-bottom border-right-bold">
                                                                                Provide hearing devices</td>
                                                                            <td class="border-bottom text-center w-10">
                                                                                <mat-checkbox color="primary"
                                                                                    formControlName="HearingDevice"
                                                                                    class="mr-3">
                                                                                </mat-checkbox>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td
                                                                                class="pl-3 bg-color3 text-dark text-left fw600 border-right-bold">
                                                                                Notify DOSH
                                                                            </td>
                                                                            <td
                                                                                class="pl-3 bg-color3 text-dark text-left fw600">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td
                                                                                class="pl-3 text-left fw60 border-bottom border-right-bold">
                                                                                NADAPOD Regulations</td>
                                                                            <td class="border-bottom text-center w-10">
                                                                                <mat-checkbox color="primary"
                                                                                    formControlName="NADAPOD"
                                                                                    class="mr-3">
                                                                                </mat-checkbox>
                                                                            </td>
                                                                        </tr>
                                                                    </ng-container>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-xl-12 col-12 mt-3">
                    <div class="pb-1 mb-1 mt-1 bg-white shadow-sm rounded w-100">
                        <div class="bg-primary-blue text-white rounded-top px-3 py-1 text-center flex-row flex-wrap">
                            <h6 class="mr-3 pt-2 text-uppercase">
                                <span class="pl-1 fs16 fw600 text-normal">Frequencies</span>
                            </h6>
                        </div>

                        <div class="table-responsive mb-0">
                            <table class="table table-sm table-borderless px-2 text-left text-nowrap">
                                <thead class="bg-color7">
                                    <tr>
                                        <th scope="col" colspan="2" class="text-center border-right">Frequency, Hz</th>
                                        <th scope="col" class="text-center border-right-bold" style="min-width: 100px;">
                                            500</th>
                                        <th scope="col" class="text-center border-right-bold" style="min-width: 100px;">
                                            1000</th>
                                        <th scope="col" class="text-center border-right-bold" style="min-width: 100px;">
                                            2000</th>
                                        <th scope="col" class="text-center border-right-bold" style="min-width: 100px;">
                                            3000</th>
                                        <th scope="col" class="text-center border-right-bold" style="min-width: 100px;">
                                            4000</th>
                                        <th scope="col" class="text-center border-right-bold" style="min-width: 100px;">
                                            6000</th>
                                        <th scope="col" class="text-center" style="min-width: 100px;">8000</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <ng-container formGroupName="audiometricBaseline">
                                        <tr class="text-uppercase">
                                            <td colspan="9">
                                                <div
                                                    class="bg-color6 rounded-top px-3 pt-2 pb-1 mb-1 d-flex justify-content-start flex-row flex-wrap">
                                                    <mat-label class="fw700 fs16">BaseLine :</mat-label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="pr-3 pl-3 w-10 border-right border-bottom">
                                                <div class="text-muted w-10">
                                                    <mat-label class="fw700 w-10">Right Ear (dB)</mat-label>
                                                </div>
                                            </td>

                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="R500"
                                                            (change)="calculateBaseLineAvgRight()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(baseLineGroup.controls['R500'], 'baseLineRight').message">
                                                            {{ errorState(baseLineGroup.controls['R500'],
                                                            'baseLineRight').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="R1000"
                                                            (change)="calculateBaseLineAvgRight()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(baseLineGroup.controls['R1000'], 'baseLineRight').message">
                                                            {{ errorState(baseLineGroup.controls['R1000'],
                                                            'baseLineRight').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="R2000"
                                                            (change)="calculateBaseLineAvgRight()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(baseLineGroup.controls['R2000'], 'baseLineRight').message">
                                                            {{ errorState(baseLineGroup.controls['R2000'],
                                                            'baseLineRight').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="R3000"
                                                            (change)="calculateBaseLineAvgRight()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(baseLineGroup.controls['R3000'], 'baseLineRight').message">
                                                            {{ errorState(baseLineGroup.controls['R3000'],
                                                            'baseLineRight').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="R4000"
                                                            (change)="calculateBaseLineAvgRight()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(baseLineGroup.controls['R4000'], 'baseLineRight').message">
                                                            {{ errorState(baseLineGroup.controls['R4000'],
                                                            'baseLineRight').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-bottom border-right-bold text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="R6000">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(baseLineGroup.controls['R6000'], 'baseLineRight').message">
                                                            {{ errorState(baseLineGroup.controls['R6000'],
                                                            'baseLineRight').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="R8000">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(baseLineGroup.controls['R8000'], 'baseLineRight').message">
                                                            {{ errorState(baseLineGroup.controls['R8000'],
                                                            'baseLineRight').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="pr-3 pl-3 w-10 border-right border-bottom">
                                                <div class="text-muted w-10">
                                                    <mat-label class="fw700 w-10">Left Ear (dB)</mat-label>
                                                </div>
                                            </td>

                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="L500"
                                                            (change)="calculateBaseLineAvgLeft()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(baseLineGroup.controls['L500'], 'baseLineLeft').message">
                                                            {{ errorState(baseLineGroup.controls['L500'],
                                                            'baseLineLeft').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="L1000"
                                                            (change)="calculateBaseLineAvgLeft()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(baseLineGroup.controls['L1000'], 'baseLineLeft').message">
                                                            {{ errorState(baseLineGroup.controls['L1000'],
                                                            'baseLineLeft').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="L2000"
                                                            (change)="calculateBaseLineAvgLeft()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(baseLineGroup.controls['L2000'], 'baseLineLeft').message">
                                                            {{ errorState(baseLineGroup.controls['L2000'],
                                                            'baseLineLeft').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="L3000"
                                                            (change)="calculateBaseLineAvgLeft()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(baseLineGroup.controls['L3000'], 'baseLineLeft').message">
                                                            {{ errorState(baseLineGroup.controls['L3000'],
                                                            'baseLineLeft').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="L4000"
                                                            (change)="calculateBaseLineAvgLeft()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(baseLineGroup.controls['L4000'], 'baseLineLeft').message">
                                                            {{ errorState(baseLineGroup.controls['L4000'],
                                                            'baseLineLeft').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-bottom border-right-bold text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="L6000">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(baseLineGroup.controls['L6000'], 'baseLineLeft').message">
                                                            {{ errorState(baseLineGroup.controls['L6000'],
                                                            'baseLineLeft').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="L8000">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(baseLineGroup.controls['L8000'], 'baseLineLeft').message">
                                                            {{ errorState(baseLineGroup.controls['L8000'],
                                                            'baseLineLeft').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="audiometricTestGroup.controls['TypeOfAudiogram'].value === 'A'"
                                        formGroupName="audiometricAnnual">
                                        <tr class="text-uppercase">
                                            <td colspan="9">
                                                <div
                                                    class="bg-color6 rounded-top px-3 pt-2 pb-1 mb-1 d-flex justify-content-start flex-row flex-wrap">
                                                    <mat-label class="fw700 fs16">Annual :</mat-label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="pr-3 pl-3 w-10 border-right border-bottom">
                                                <div class="text-muted w-10">
                                                    <mat-label class="fw700 w-10">Right Ear (dB)</mat-label>
                                                </div>
                                            </td>

                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="R500" (change)="calculateAnnualAvgRight()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(annualGroup.controls['R500'], 'annualRight').message">
                                                            {{ errorState(annualGroup.controls['R500'],
                                                            'annualRight').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="R1000"
                                                            (change)="calculateAnnualAvgRight()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(annualGroup.controls['R1000'], 'annualRight').message">
                                                            {{ errorState(annualGroup.controls['R1000'],
                                                            'annualRight').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="R2000"
                                                            (change)="calculateAnnualAvgRight()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(annualGroup.controls['R2000'], 'annualRight').message">
                                                            {{ errorState(annualGroup.controls['R2000'],
                                                            'annualRight').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="R3000"
                                                            (change)="calculateAnnualAvgRight()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(annualGroup.controls['R3000'], 'annualRight').message">
                                                            {{ errorState(annualGroup.controls['R3000'],
                                                            'annualRight').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="R4000"
                                                            (change)="calculateAnnualAvgRight()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(annualGroup.controls['R4000'], 'annualRight').message">
                                                            {{ errorState(annualGroup.controls['R4000'],
                                                            'annualRight').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-bottom border-right-bold text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="R6000">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(annualGroup.controls['R6000'], 'annualRight').message">
                                                            {{ errorState(annualGroup.controls['R6000'],
                                                            'annualRight').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="R8000">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(annualGroup.controls['R8000'], 'annualRight').message">
                                                            {{ errorState(annualGroup.controls['R8000'],
                                                            'annualRight').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="pr-3 pl-3 w-10 border-right border-bottom">
                                                <div class="text-muted w-10">
                                                    <mat-label class="fw700 w-10">Left Ear (dB)</mat-label>
                                                </div>
                                            </td>

                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="L500" (change)="calculateAnnualAvgLeft()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(annualGroup.controls['L500'], 'annualLeft').message">
                                                            {{ errorState(annualGroup.controls['L500'],
                                                            'annualLeft').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="L1000" (change)="calculateAnnualAvgLeft()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(annualGroup.controls['L1000'], 'annualLeft').message">
                                                            {{ errorState(annualGroup.controls['L1000'],
                                                            'annualLeft').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="L2000" (change)="calculateAnnualAvgLeft()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(annualGroup.controls['L2000'], 'annualLeft').message">
                                                            {{ errorState(annualGroup.controls['L2000'],
                                                            'annualLeft').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="L3000" (change)="calculateAnnualAvgLeft()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(annualGroup.controls['L3000'], 'annualLeft').message">
                                                            {{ errorState(annualGroup.controls['L3000'],
                                                            'annualLeft').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-right-bold border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="L4000" (change)="calculateAnnualAvgLeft()">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(annualGroup.controls['L4000'], 'annualLeft').message">
                                                            {{ errorState(annualGroup.controls['L4000'],
                                                            'annualLeft').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-bottom border-right-bold text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="L6000">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(annualGroup.controls['L6000'], 'annualLeft').message">
                                                            {{ errorState(annualGroup.controls['L6000'],
                                                            'annualLeft').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="border-bottom text-center w-10">
                                                <div class="text-muted w-10" style="min-width: 70px">
                                                    <mat-form-field class="w-10 text-center pb-2" floatLabel="never">
                                                        <mat-label class="fw600"></mat-label>
                                                        <input matInput type="number" autocomplete="off"
                                                            formControlName="L8000">
                                                        <mat-error class="w-space-normal"
                                                            *ngIf="errorState(annualGroup.controls['L8000'], 'annualLeft').message">
                                                            {{ errorState(annualGroup.controls['L8000'],
                                                            'annualLeft').message }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-12 mt-3">
                    <div class="pb-1 mb-1 mt-1 bg-white shadow-sm rounded w-100">
                        <div class="bg-primary-blue text-white rounded-top px-3 py-1 text-center flex-row flex-wrap">
                            <h6 class="mr-3 pt-2 text-uppercase">
                                <span class="pl-1 fs16 fw600 text-normal">Results</span>
                            </h6>
                        </div>

                        <div id="BaseLine" formGroupName="audiometricBaseline">
                            <div class="row">
                                <div class="col-xl-12 col-12">
                                    <div
                                        class="bg-color6 rounded-top px-3 pt-2 mb-1 d-flex justify-content-start flex-row flex-wrap">
                                        <h6 class="mr-3">
                                            <small class="fw700 fs16 text-uppercase">BaseLine :</small>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive mb-0">
                                <table class="table table-sm table-borderless px-2 text-left text-nowrap" style="border: 1;">
                                    <thead class="bg-color7">
                                        <tr>
                                            <th scope="col" colspan="1" class="text-center border-right">Results</th>
                                            <th scope="col" colspan="4" class="text-center border-right-bold"
                                                style="min-width: 100px;">Average (0.5, 1, 2, 3) kHz</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container>
                                            <tr>
                                                <td colspan="1" class="pr-3 pl-3 w-10 border-right border-bottom">
                                                    <div class="text-muted w-10">
                                                        <mat-label class="fw700 w-10">Right Ear (dB)</mat-label>
                                                    </div>
                                                </td>
                                                <td colspan="4"
                                                    class="border-right-bold border-bottom text-center w-10">
                                                    <div class="text-muted w-10" style="min-width: 70px">
                                                        <mat-form-field class="w-10 text-center pb-2"
                                                            floatLabel="never">
                                                            <mat-label class="fw600"></mat-label>
                                                            <input matInput type="text" autocomplete="off"
                                                                formControlName="AvgR1" readonly>
                                                            <mat-error class="w-space-normal"
                                                                *ngIf="errorState(baseLineGroup.controls['AvgR1'], 'baseLineRight').message">
                                                                {{ errorState(baseLineGroup.controls['AvgR1'],
                                                                'baseLineRight').message }}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="1" class="pr-3 pl-3 w-10 border-right border-bottom">
                                                    <div class="text-muted w-10">
                                                        <mat-label class="fw700 w-10">Left Ear (dB)</mat-label>
                                                    </div>
                                                </td>

                                                <td colspan="4"
                                                    class="border-right-bold border-bottom text-center w-10">
                                                    <div class="text-muted w-10" style="min-width: 70px">
                                                        <mat-form-field class="w-10 text-center pb-2"
                                                            floatLabel="never">
                                                            <mat-label class="fw600"></mat-label>
                                                            <input matInput type="text" autocomplete="off"
                                                                formControlName="AvgL1" readonly>
                                                            <mat-error class="w-space-normal"
                                                                *ngIf="errorState(baseLineGroup.controls['AvgL1'], 'baseLineLeft').message">
                                                                {{ errorState(baseLineGroup.controls['AvgL1'],
                                                                'baseLineLeft').message }}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="Annual" formGroupName="audiometricAnnual"
                            *ngIf="audiometricTestGroup.controls['TypeOfAudiogram'].value === 'A'">
                            <div class="row">
                                <div class="col-xl-12 col-12">
                                    <div
                                        class="bg-color6 rounded-top px-3 pt-2 mb-1 d-flex justify-content-start flex-row flex-wrap">
                                        <h6 class="mr-3">
                                            <small class="fw700 fs16 text-uppercase">Annual :</small>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive mb-0">
                                <table class="table table-sm table-borderless px-2 text-left text-nowrap">
                                    <thead class="bg-color7">
                                        <tr>
                                            <th scope="col" colspan="1" class="text-center border-right">Results</th>
                                            <th scope="col" colspan="2" class="text-center border-right-bold"
                                                style="min-width: 100px;">Average (0.5, 1, 2, 3) kHz</th>
                                            <th scope="col" colspan="2" class="text-center" style="min-width: 100px;">
                                                Average (2, 3, 4) kHz</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container>
                                            <tr>
                                                <td colspan="1" class="pr-3 pl-3 w-10 border-right border-bottom">
                                                    <div class="text-muted w-10">
                                                        <mat-label class="fw700 w-10">Right Ear (dB)</mat-label>
                                                    </div>
                                                </td>

                                                <td colspan="2"
                                                    class="border-right-bold border-bottom text-center w-10">
                                                    <div class="text-muted w-10" style="min-width: 70px">
                                                        <mat-form-field class="w-10 text-center pb-2"
                                                            floatLabel="never">
                                                            <mat-label class="fw600"></mat-label>
                                                            <input matInput type="text" autocomplete="off"
                                                                formControlName="AvgR1" readonly>
                                                            <mat-error class="w-space-normal"
                                                                *ngIf="errorState(annualGroup.controls['AvgR1'], 'annualRight').message">
                                                                {{ errorState(annualGroup.controls['AvgR1'],
                                                                'annualRight').message }}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                                <td colspan="2" class="border-bottom text-center w-10">
                                                    <div class="text-muted w-10" style="min-width: 70px">
                                                        <mat-form-field class="w-10 text-center pb-2"
                                                            floatLabel="never">
                                                            <mat-label class="fw600"></mat-label>
                                                            <input matInput type="text" autocomplete="off"
                                                                formControlName="AvgR2" readonly>
                                                            <mat-error class="w-space-normal"
                                                                *ngIf="errorState(annualGroup.controls['AvgR2'], 'annualRight').message">
                                                                {{ errorState(annualGroup.controls['AvgR2'],
                                                                'annualRight').message }}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="1" class="pr-3 pl-3 w-10 border-right border-bottom">
                                                    <div class="text-muted w-10">
                                                        <mat-label class="fw700 w-10">Left Ear (dB)</mat-label>
                                                    </div>
                                                </td>

                                                <td colspan="2"
                                                    class="border-right-bold border-bottom text-center w-10">
                                                    <div class="text-muted w-10" style="min-width: 70px">
                                                        <mat-form-field class="w-10 text-center pb-2"
                                                            floatLabel="never">
                                                            <mat-label class="fw600"></mat-label>
                                                            <input matInput type="text" autocomplete="off"
                                                                formControlName="AvgL1" readonly>
                                                            <mat-error class="w-space-normal"
                                                                *ngIf="errorState(annualGroup.controls['AvgL1'], 'annualLeft').message">
                                                                {{ errorState(annualGroup.controls['AvgL1'],
                                                                'annualLeft').message }}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                                <td colspan="2" class="border-bottom text-center w-10">
                                                    <div class="text-muted w-10" style="min-width: 70px">
                                                        <mat-form-field class="w-10 text-center pb-2"
                                                            floatLabel="never">
                                                            <mat-label class="fw600"></mat-label>
                                                            <input matInput type="text" autocomplete="off"
                                                                formControlName="AvgL2" readonly>
                                                            <mat-error class="w-space-normal"
                                                                *ngIf="errorState(annualGroup.controls['AvgL2'], 'annualLeft').message">
                                                                {{ errorState(annualGroup.controls['AvgL2'],
                                                                'annualLeft').message }}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="col-xl-12 col-12 text-center mt-3 pt-2 pb-2">
                            <button id="graphBtn" class="btn min-width btn-sm fs14 fw500 rounded-pill mr-3"
                                [ngClass]="(showHide) ? 'btn-info' : 'btn-warning'" type="button"
                                (click)="btnToggle()">{{btnText}}</button>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-12 mt-2 pt-3" id="audiogramGraph"
                    [style.display]="(!showHide) ? 'block' : 'none'">
                    <div class="badge badge-pill fs12 fw500 mat-elevation-z2 badge-yellow px-4 py-2 pt-3">
                        <span class="fs20 fw600 mb-0">Audiometry Results <span class="fs14">(Graph)</span> :</span>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 pt-3">
                            <div class="pb-1 mb-1 mt-1 bg-white shadow-sm rounded w-100">
                                <div
                                    class="bg-primary-blue text-white rounded-top px-3 py-1 text-center flex-row flex-wrap">
                                    <h6 class="mr-3 pt-2 text-uppercase">
                                        <span class="pl-1 fs16 fw600 text-normal">Right Ear Audiogram</span>
                                    </h6>
                                </div>
                                <div class="col-xl-12 col-12 pb-3 mat-elevation-z4 bg-white">
                                    <div
                                        class="col-xl-12 col-12 p-0 d-flex flex-row flex-wrap justify-content-between align-items-center">
                                        <p class="pt-3"></p>
                                    </div>
                                    <canvas #frequencyChartRightEar class="line-chart col-xl-12 col-12 p-0"
                                        height="260"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 pt-3">
                            <div class="pb-1 mb-1 mt-1 bg-white shadow-sm rounded w-100">
                                <div
                                    class="bg-primary-blue text-white rounded-top px-3 py-1 text-center flex-row flex-wrap">
                                    <h6 class="mr-3 pt-2 text-uppercase">
                                        <span class="pl-1 fs16 fw600 text-normal">Left Ear Audiogram</span>
                                    </h6>
                                </div>

                                <div class="col-xl-12 col-12 pb-3 mat-elevation-z4 bg-white">
                                    <div
                                        class="col-xl-12 col-12 p-0 d-flex flex-row flex-wrap justify-content-between align-items-center">
                                        <p class="pt-3"></p>
                                    </div>
                                    <canvas #frequencyChartLeftEar class="line-chart col-xl-12 col-12 p-0"
                                        height="260"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-12 text-center mt-3 pt-2">
                    <button class="btn btn-success min-width btn-sm fs14 fw500 rounded-pill mr-3"
                        type="submit">{{audiometricTestGroup.controls['Id'] && audiometricTestGroup.controls['Id'].value
                        > 0 ? 'Update' : 'Save'}}</button>
                    <button type="button" *ngIf="audiometricTestGroup.controls['Id'].value == 0" [disabled]="!saveNext"
                        [routerLink]="['/audiometric', 'status', 'checkout', employeeId, employeeTestVisitId]"
                        class="btn btn-info min-width btn-sm fs14 fw500 rounded-pill mr-3">Next</button>
                    <button type="button" *ngIf="audiometricTestGroup.controls['Id'].value > 0" [disabled]="!updateNext"
                        [routerLink]="['/audiometric', 'status', 'checkout', employeeId, employeeTestVisitId]"
                        class="btn btn-info min-width btn-sm fs14 fw500 rounded-pill mr-3">Next</button>
                    <button class="btn btn-red min-width btn-sm fs14 fw500 rounded-pill" type="submit"
                        [routerLink]="['/audiometric/list']">Close</button>
                </div>
            </div>
        </form>
    </div>
</section> -->