// .bg-card {
//     background-color: wheat !important;
// }

// .mat-table {
//     background-color: transparent !important;
// }
// table {
//     border-radius: 1em;
// }
// .bg-purple-500 {
//     background-color: #28a745 !important;
// }
// .hover\:bg-purple-400:hover {
//     background-color: #29b349 !important;
// }