<h1 mat-dialog-title>Please Confirm</h1>
<div mat-dialog-content>Are you sure you want to delete this entry?</div>

<br />

<div mat-dialog-actions class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <!-- <div> -->
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" mat-button cdkFocusInitial
            (click)="onYesClick()">Ok</button>
    </div>
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <!-- <div> -->
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" mat-button
            (click)="onNoClick()">Cancel</button>
    </div>
    <!-- <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="onNoClick();">
        Yes
    </button>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="onNoClick();">
        No
    </button> -->
</div>
