<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="">

            <h1>Covid Summary Report</h1>


            <div>
                <div class="flex flex-wrap -mx-3 mb-2">

                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.TestType" autocomplete="off">
                                <option [value]="''">- Test Type -</option>
                                <option [value]="'RTK'">RTK</option>
                                <option [value]="'PCR'">PCR</option>
                                <option [value]="'Saliva'">Saliva</option>
                            </select>
                        </div>
                    </div>

                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="start_date" [min]="startDate" [max]="maxDate"
                                    placeholder="Test Start date" autocomplete="off" [(ngModel)]="searchField.FromDate">
                                <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                                <mat-datepicker #start_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="endDate" [min]="searchField.FromDate" [max]="maxDate"
                                    placeholder="Test End date" autocomplete="off" #endDateModel="ngModel"
                                    [(ngModel)]="searchField.ToDate">
                                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                <mat-datepicker #endDate></mat-datepicker>
                                <mat-error *ngIf="endDateModel.hasError('matDatepickerMin')">
                                    Invalid minimum date. Please choose a date bigger than the start date.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-2" style="text-align: right;">
                        <button
                            class="gap-4 shadow mr-3 bg-purple-500 disabled:bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" [disabled]="endDateModel.hasError('matDatepickerMin')"
                            (click)="filterSummaryReports();">
                            Search
                        </button>

                        <button style="margin-left: 5px; margin-right: 5px;"
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="resetSearch();">
                            Reset
                        </button>

                        <button mat-raised-button color="primary" class="mt-5" *ngIf="recordCount > 0"
                            (click)="exportToExcel()" style="text-align: center; margin: auto; float: right;">Export To
                            Excel</button>
                        <br />
                        <br />
                    </div>

                </div>
            </div>


            <div *ngIf="recordCount > 0">
                <h4>Total Records: {{ recordCount }}</h4>
            </div>



            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="flex flex-col overflow-hidden">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200" id="covid-report-table">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            S No
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Test Date</span>
                                                <mat-icon (click)="sortData('TestDate', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'TestDate')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('TestDate', 'asc')"
                                                    *ngIf="sortedColumn === 'TestDate' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('TestDate', 'desc')"
                                                    *ngIf="sortedColumn === 'TestDate' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>
                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Test Type</span>
                                                <mat-icon (click)="sortData('TestType', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'TestType')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('TestType', 'asc')"
                                                    *ngIf="sortedColumn === 'TestType' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('TestType', 'desc')"
                                                    *ngIf="sortedColumn === 'TestType' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>
                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>No. Of Employees Tested</span>
                                                <mat-icon (click)="sortData('NoofEmpTested', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'NoofEmpTested')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('NoofEmpTested', 'asc')"
                                                    *ngIf="sortedColumn === 'NoofEmpTested' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('NoofEmpTested', 'desc')"
                                                    *ngIf="sortedColumn === 'NoofEmpTested' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>
                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>No. Of Negatives</span>
                                                <mat-icon (click)="sortData('NoofNegatives', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'NoofNegatives')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('NoofNegatives', 'asc')"
                                                    *ngIf="sortedColumn === 'NoofNegatives' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('NoofNegatives', 'desc')"
                                                    *ngIf="sortedColumn === 'NoofNegatives' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>No. Of Positives</span>
                                                <mat-icon (click)="sortData('NoofPositives', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'NoofPositives')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('NoofPositives', 'asc')"
                                                    *ngIf="sortedColumn === 'NoofPositives' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('NoofPositives', 'desc')"
                                                    *ngIf="sortedColumn === 'NoofPositives' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Test Price
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Total Invoice Amount(RM)</span>
                                                <!-- <mat-icon (click)="sortData('TotalAmount ', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'TotalAmount ')"
                                                    class="icon-size-5 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:arrow-sm-up'"></mat-icon>
                                                <mat-icon (click)="sortData('TotalAmount ', 'asc')"
                                                    *ngIf="sortedColumn === 'TotalAmount ' &&  sortOrderVal===1"
                                                    class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('TotalAmount ', 'desc')"
                                                    *ngIf="sortedColumn === 'TotalAmount ' &&  sortOrderVal===0"
                                                    class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-up'">
                                                </mat-icon> -->
                                            </div>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container>
                                        <tr *ngFor="let dataSource of summaryReports; let i = index;">
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ (pageCount-1)*pageSize + (i+1) }}
                                                    <!-- {{ (pageCount)*pageSize + (i+1) }} -->
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ dataSource.TestDate | date }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ dataSource.TestType }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ dataSource.NoofEmpTested }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ dataSource.NoofNegatives }}
                                                </div>
                                            </td>


                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ dataSource.NoofPositives }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ dataSource.TestPrice | number:'1.2' }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ dataSource.TotalInvoiceAmt }}
                                                </div>
                                            </td>

                                        </tr>
                                    </ng-container>

                                    <tr *ngIf="!summaryReports || summaryReports.length===0">
                                        <td colspan="12"
                                            class="text-center text-mx text-gray-900 px-6 py-4 whitespace-nowrap ng-star-inserted">
                                            No Data Found
                                        </td>
                                    </tr>

                                    <!-- More people... -->
                                </tbody>
                            </table>

                        </div>

                        <br />
                        <div class="grid grid-cols-1 gap-4">
                            <div>
                                <div class="grid grid-cols-1 gap-4" style="float: left;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <h5>Page {{ pageCount }} of {{totalPageCount}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="grid grid-cols-2 gap-4" style="float: right;">
                                    <div *ngIf="pageCount > 1">
                                        <button (click)="changePage('prev')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Prev
                                        </button>
                                    </div>

                                    <div *ngIf="showNext">
                                        <button (click)="changePage('next')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Next
                                        </button>
                                    </div>
                                </div> -->
                                <div class="grid grid-cols-1 gap-4" style="float: right;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <app-paginator [totalPageCount]="totalPageCount"
                                                [resetPageIndex]=resetPageIndex [pageButtonsCount]=pageButtonsCount
                                                (changePage)="changePage($event)">
                                            </app-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>