<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="">

            <h1 class="pb-5 mb-4">Employee Benifits</h1>
            <div>
                <div class="flex flex-wrap -mx-3 mb-6" *ngFor="let level of planLevels;">
                    <!-- <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <div class="flex items-start justify-between">

                            <h1 class="block uppercase text-lg mt-2 tracking-tight leading-6">{{level.levelName}}</h1>
                        </div>
                    </div> -->
                    <div class="w-full md:w-2/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase text-lg mt-2 mb-2 tracking-tight leading-6">{{level.levelName}}</label>
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="level.levelPlanId" autocomplete="off">
                                <option [value]="''">- Select Plans -</option>

                                <ng-container *ngFor="let d of Plans;">
                                    <option [value]="d.PlanName">{{ d.PlanName }}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <h2>Labour</h2>
                        </div>
                    </div>
                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="Plans.Planid" autocomplete="off">
                                <option [value]="'1'">- Select Plans -</option>

                                <ng-container *ngFor="let d of Plans;">
                                    <option [value]="d.PlanName">{{ d.PlanName }}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">

                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <h2>Manager Level1</h2>
                        </div>
                    </div>

                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="Plans.Planid" autocomplete="off">
                                <option [value]="'1'">- Select Plans -</option>

                                <ng-container *ngFor="let d of Plans;">
                                    <option [value]="d.PlanName">{{ d.PlanName }}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <h2>Manager Level2</h2>
                        </div>
                    </div>
                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="Plans.Planid" autocomplete="off">
                                <option [value]="'1'">- Select Plans -</option>

                                <ng-container *ngFor="let d of Plans;">
                                    <option [value]="d.PlanName">{{ d.PlanName }}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div> -->

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0" style="">
                        <button
                            class="gap-4 pl-5 pr-5 pt-3 pb-3 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="UpdatePlan();">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
