.demo-table {
    width: 100%;
}

.demo-button-container {
    padding-bottom: 16px;
}

.demo-button+.demo-button {
    margin-left: 8px;
}

.table-error {
    background-color: red;
}

.addjustcontect {
    margin-top: 10px;
}

.text-muted-custom {
    color: #ccc !important;
}

.adjustColumnIconHeight {
    margin-bottom: 0.5rem;
}

.py-4 {
    padding-top   : 3px !important;
    padding-bottom: 2px !important;
}

body.light .mat-flat-button.mat-primary,
body.light .mat-raised-button.mat-primary,
body.light .mat-fab.mat-primary,
body.light .mat-mini-fab.mat-primary,
body .light .mat-flat-button.mat-primary,
body .light .mat-raised-button.mat-primary,
body .light .mat-fab.mat-primary,
body .light .mat-mini-fab.mat-primary {
    background-color: #248af7;
}

.bg-purple-500 {
    background-color: #28a745 !important;
}

.hover\:bg-purple-400:hover {
    background-color: #28a745 !important;
}

.py-3 {
    padding-top   : 10px !important;
    padding-bottom: 10px !important;
}

.rounded {
    border-radius: 6px !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}
.rounded-top {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    font-size: 19px;
    font-weight: 500;
}
.btn-danger {
    color: #fff !important;
    background-color: #ff0202 !important;
    border-color: #ff0202 !important;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}
.btn {
    position: absolute;
    display: inline-block;
    font-weight: 400;
    color: #212529;    
    bottom: 25px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 28px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 6px;
    margin-left: 19% !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mat-dialog-container input, select, textarea {
    padding: 0;
    line-height: initial;
    color: inherit;
}