<div class="bg-warning pl-4 pr-4 pt-3 pb-3 pb-1 mb-1 rounded-top"> <p class="mb-0">Section/Division</p></div>
<!-- <button style="float: right;" mat-button (click)="closePopup()">X</button> -->
<div>
    <div class="flex-auto">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="grid grid-cols-1">
                <div class="flex flex-col mt-2">
                    <div class="row p-3">
                        <div class="col-sm-12 col-xs-12 mt-1">
                            <label class="justify-left mt-5text-secondary ml-1">Name: </label>
                            <textarea class="appearance-none block w-full border rounded py-2 px-4 mb-1 mt-1 bg-white"
                                (input)="changeCostCenter($event)" type="text" placeholder="Enter Name"
                                [(ngModel)]='costCenterName'></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br />
        <div class="grid grid-cols-1 gap-4">
            <div class="pl-3 pr-3 pt-0">
                <div class="grid grid-cols-2 gap-4 d-flex justify-content-between">   
                    <button class="shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded mr-2"  mat-button (click)="closePopup()" type="button">
                        Close
                   </button>  
                    

                        <button [disabled]="disableSubmitButton" (click)="updateCostCenter()" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
                            Submit
                        </button>                    
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-4 p-3">
            <div class="flex flex-col mt-8 ml-8">
                <span *ngIf="showAPIResultMessage" class="text-red-500">{{apiResultMessage}}</span>
            </div>
        </div>
    </div>
</div>