<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <h1 class="mb-5">Selected Plan</h1>

        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
            <div class="relative">
                <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                    id="grid-selectedYear" (change)="onYearChange($event)" [(ngModel)]="selectedYear"
                    autocomplete="off">
                    <option [value]="''">- Select -</option>
                    <option [value]="y" *ngFor="let y of yearList;">{{ y }}</option>
                </select>

            </div>
        </div>
        <form class="w-full" [formGroup]="planForm">
            <div class="flex space-x-4">
                <div class="flex-1" *ngFor="let plan of planDetails; let i = index">
                    <div class="w-full mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-1xl mb-5">

                        <h1 class="text-white text-center pt-3 pb-3" style="background-color: #ffc107">{{plan.PlanName}}
                        </h1>

                        <div class="md:flex">
                            <div class="p-2 mx-auto text-center">
                                <h3 class="uppercase mb-0">Minimum Per Visit</h3>

                                <input *ngIf="showFormFields" [readonly]="isPlanFinalized"
                                    class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                                    id="grid-MinPerVisit" type="text" placeholder="Enter Value"
                                    formControlName='MinPerVisit{{plan.PlanName}}' autocomplete="off">

                                <h4 *ngIf="!showFormFields" class="mt-2">
                                    {{ plan.MinPerVisit }}
                                </h4>
                                <h3 class="uppercase mb-0">Minimum Per Month</h3>

                                <input *ngIf="showFormFields" [readonly]="isPlanFinalized"
                                    class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                                    id="grid-MinPerMonth" type="text" placeholder="Enter Value"
                                    formControlName="MinPerMonth{{plan.PlanName}}" autocomplete="off">

                                <h4 *ngIf="!showFormFields" class="mt-2">
                                    {{ plan.MinPerMonth }}
                                </h4>

                                <h3 class="uppercase mb-0">Minimum Per Year</h3>

                                <input *ngIf="showFormFields" [readonly]="isPlanFinalized"
                                    class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                                    id="grid-MinPerYear" type="text" placeholder="Enter Value"
                                    formControlName="MinPerYear{{plan.PlanName}}" autocomplete="off">

                                <h4 *ngIf="!showFormFields" class="mt-2">
                                    {{ plan.MinPerYear }}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="flex flex-wrap -mx-3 mb-6" *ngIf="showFormButtons">
            <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0" style="text-align: right;">
                <button [disabled]="isPlanFinalized" (click)="savePlan();"
                    class="shadow bg-purple-500 disabled:bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button">
                    Save
                </button>

                <button [disabled]="isPlanFinalized" (click)="finalizePlan();" style="margin-left: 5px;"
                    class="shadow bg-purple-500 disabled:bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button">
                    Save & Finalize
                </button>
            </div>
        </div>





        <br />
        <!-- <h1 class="mb-5">New Plan (2022)</h1>

        <div class="flex space-x-4">
            <div class="flex-1"  *ngFor="let newPlan of newPlanDetails;">
                <div class="w-full mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-1xl mb-5">

                    <h1 class="text-white text-center pt-3 pb-3" style="background-color: #ffc107">{{newPlan.PlanName}}</h1>

                    <div class="md:flex">
                        <div class="p-8 mx-auto text-center">
                            <h3 class="uppercase mb-0">Minimum Per Visit</h3>

                            <h4 *ngIf="!showFormFields" class="mt-2">
                                {{ newPlan.MinPerVisit }}
                            </h4>
                            <h3 class="uppercase mb-0">Minimum Per Month</h3>

                            <h4 *ngIf="!showFormFields" class="mt-2">
                                {{ newPlan.MinPerMonth }}
                            </h4>
                            <h3 class="uppercase mb-0">Minimum Per Year</h3>

                            <h4 *ngIf="!showFormFields" class="mt-2">
                                {{ newPlan.MinPerYear }}
                            </h4>
                            <h3 class="uppercase mb-0">Expire Year</h3>

                            <h4 *ngIf="!showFormFields" class="mt-2">
                                {{ newPlan.ExpireYear }}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


    </div>

</div>