<div>
    <div class="flex-auto">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="grid grid-cols-1">
                <div class="flex flex-col flex-auto bg-card rounded-2xl overflow-hidden" style="cursor: pointer;">
                    <div class="flex flex-col mt-0">
                        <div class="bg-warning pl-5 pr-4 pt-3 pb-3 pb-1 mb-0 rounded-top">Invoice Item Details
                        </div>
                    </div>
                    <div class="grid grid-cols-1 w-full flex flex-col items-center sm:rounded-lg">
                        <table mat-table [dataSource]="lineItemDetails" class="mat-elevation-z8">

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{ element.Name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                                <td mat-cell *matCellDef="let element"> {{ element.Quantity }} </td>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef>Amount(RM)</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.Price | number : '1.2-2'}}
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>



        </div>
        <div class="row mt-5">
            <div class="col-sm-12 col-xs-12 d-flex justify-content-center text-center">
                <button
                    class="mat-focus-indicator shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded mr-2 mat-button mat-button-base"
                    mat-button (click)="closePopup()"> Close </button>
            </div>
        </div>
        <br />
    </div>
</div>