.bg-card {
    background-color: #ffffff !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-table {
    background-color: transparent !important;
}
table {
    border-radius: 1em;
}
.rounded-top {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    font-size: 19px;
    font-weight: 500;
  }
  
.bg-warning {
    background-color: #ffc107 !important;
  }
  
.mat-header-cell {
    font-size: 14px;
    font-weight: 600;
    color: #515355;
    }