<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>{{message}}</div>

<br />

<div mat-dialog-actions>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="onNoClick();">
        Okay
    </button>
</div>