<div class="flex flex-col flex-auto min-w-0">

    <div class="overflow-auto h-120 p-6 sm:p-10">
        <h2 *ngIf="isHealthPlanNotSelected" class="text-red-500">
            {{"Health Benefit Plan is not selected" | uppercase}}
        </h2>
        <!-- Header -->
        <div class="dark bg-card dark:border-b">
            <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8"
                style="background-color: #ffc107; color: black;">

                <!-- <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">

                    <div class="flex flex-auto items-center min-w-0">
                        <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                            <img class="w-full h-full object-cover" src="assets/images/avatars/brian-hughes.jpg">
                        </div>
                        <div class="flex flex-col min-w-0 ml-4">
                            <ng-container *transloco="let t">
                                <div
                                    class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                    {{ loginData.CoName }} HR PORTAL</div>
                            </ng-container> -->
                <!-- <div class="flex items-center">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                            <div class="ml-1.5 leading-6 truncate text-secondary" style="color: black;">You have 2 new messages and 15 new
                                tasks</div>
                        </div> -->
                <!-- </div>
                    </div> -->
                <!-- Actions -->
                <!-- <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3"> -->
                <!-- <button class="fuse-mat-button-rounded bg-accent-600" mat-flat-button [color]="'accent'">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            <span class="ml-2">Messages</span>
                        </button>
                        <button class="fuse-mat-button-rounded" mat-flat-button [color]="'primary'">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                            <span class="ml-2">Settings</span>
                        </button> -->
                <!-- </div>
                </div> -->
            </div>
        </div>

        <!-- Main -->
        <div style="margin: 8px;">
            <div class="flex-auto mt-4 sm:mt-6">
                <div class="w-full max-w-screen-xl mx-auto">

                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                        <!-- Summary -->
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                            style="cursor: pointer;" [routerLink]="['/employee/add-employee']">
                            <!-- (click)="viewData('Number of employee')"> -->
                            <div class="flex items-start justify-center">
                                <div class="text-lg tracking-tight font-bold leading-6 truncate">Number of Employees
                                </div>
                                <!-- <div class="ml-2 -mt-2 -mr-3">
                                    <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'">
                                        </mat-icon>
                                    </button>
                                    <mat-menu #summaryMenu="matMenu">
                                        <button mat-menu-item>Yesterday</button>
                                        <button mat-menu-item>2 days ago</button>
                                        <button mat-menu-item>3 days ago</button>
                                    </mat-menu>
                                </div> -->
                            </div>
                            <div class="flex flex-col items-center mt-5">
                                <div class="text-5xl sm:text-4xl font-bold tracking-tight leading-none text-blue-500">
                                    {{dashboardDetails.NumberOfEmployee}}
                                </div>
                                <div class="text-lg font-medium text-blue-600 dark:text-blue-500 mt-2">Employees</div>
                                <!-- <div class="flex items-center justify-center w-full mt-5 text-secondary">
                                    <div class="text-md font-medium truncate">Retired:</div>
                                    <div class="ml-1.5 text-lg font-semibold">{{dashboardDetails.NoOfRetiredEmployees}}
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <!-- Overdue -->
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <!-- style="cursor: pointer;" (click)="viewData('No of MC')"> -->
                            <div class="flex items-start justify-center">
                                <div class="text-lg tracking-tight font-bold leading-6 truncate">No of MCs Today</div>
                                <!-- <div class="ml-2 -mt-2 -mr-3">
                                    <button mat-icon-button [matMenuTriggerFor]="overdueMenu">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'">
                                        </mat-icon>
                                    </button>
                                    <mat-menu #overdueMenu="matMenu">
                                        <button mat-menu-item>Yesterday</button>
                                        <button mat-menu-item>2 days ago</button>
                                        <button mat-menu-item>3 days ago</button>
                                    </mat-menu>
                                </div> -->
                            </div>
                            <div class="flex flex-col items-center mt-5">
                                <div class="text-5xl sm:text-4xl font-bold tracking-tight leading-none text-red-500">
                                    {{dashboardDetails.NumberOfMCToday}}
                                </div>
                                <div class="text-lg font-medium text-red-600 dark:text-red-500 mt-2">MCs</div>
                                <!-- <div class="flex items-center justify-center w-full mt-5 text-secondary">
                                    <div class="text-md font-medium truncate">Yesterday:</div>
                                    <div class="ml-1.5 text-lg font-semibold">{{dashboardDetails.NumberOfMCYesterday}}
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <!-- Here -->
                        <!-- Claims Average (RM) -->
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <!-- style="cursor: pointer;" (click)="viewData('Claims Average (RM)')"> -->
                            <div class="flex items-start justify-center">
                                <div class="text-lg tracking-tight font-bold leading-6 truncate">Claims Average
                                    {{currentYear}}(RM)
                                </div>
                                <!-- <div class="ml-2 -mt-2 -mr-3">
                                    <button mat-icon-button [matMenuTriggerFor]="featuresMenu">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'">
                                        </mat-icon>
                                    </button>
                                    <mat-menu #featuresMenu="matMenu">
                                        <button mat-menu-item>Yesterday</button>
                                        <button mat-menu-item>2 days ago</button>
                                        <button mat-menu-item>3 days ago</button>
                                    </mat-menu>
                                </div> -->
                            </div>
                            <div class="flex flex-col items-center mt-5">
                                <div class="text-5xl sm:text-4xl font-bold tracking-tight leading-none text-amber-500">
                                    {{dashboardDetails.AverageClaims}}
                                </div>
                                <div class="text-lg font-medium text-amber-600 dark:text-amber-500 mt-2">Claims Average
                                    (RM)
                                </div>
                                <!-- <div class="flex items-center justify-center w-full mt-5 text-secondary">
                                    <div class="text-md font-medium truncate">Verified:</div>
                                    <div class="ml-1.5 text-lg font-semibold">
                                        {{dashboardDetails.VerifiesAverageClaimsVerified}}
                                    </div>
                                </div> -->
                            </div>
                        </div>

                    </div>

                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0"
                        style="margin-top: 20px;">
                        <!-- Summary -->
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <!--style="cursor: pointer;" (click)="viewData('Number of employee')"> -->
                            <div class="flex items-start justify-center">
                                <div class="text-lg tracking-tight font-bold leading-6 truncate">Number of Claims this
                                    Month
                                </div>
                                <!-- <div class="ml-2 -mt-2 -mr-3">
                                    <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'">
                                        </mat-icon>
                                    </button>
                                    <mat-menu #summaryMenu="matMenu">
                                        <button mat-menu-item>Yesterday</button>
                                        <button mat-menu-item>2 days ago</button>
                                        <button mat-menu-item>3 days ago</button>
                                    </mat-menu>
                                </div> -->
                            </div>
                            <div class="flex flex-col items-center mt-5">
                                <div class="text-5xl sm:text-4xl font-bold tracking-tight leading-none text-blue-500">
                                    {{dashboardDetails.NumberOfClaimsThisMonth}}
                                </div>
                                <div class="text-lg font-medium text-blue-600 dark:text-blue-500 mt-2">Claims</div>
                                <!-- <div class="flex items-center justify-center w-full mt-5 text-secondary">
                                    <div class="text-md font-medium truncate">Verified:</div>
                                    <div class="ml-1.5 text-lg font-semibold">
                                        {{dashboardDetails.NumberOfVerifiedClaimsThisMonth}}
                                    </div>
                                </div> -->
                            </div>
                        </div>



                        <!-- Features -->
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <!-- style="cursor: pointer;" (click)="viewData('Invoices (RM)')"> -->
                            <div class="flex items-start justify-center">
                                <div class="text-lg tracking-tight font-bold leading-6 truncate">Invoices (RM) This
                                    Month</div>
                                <!-- <div class="ml-2 -mt-2 -mr-3">
                                    <button mat-icon-button [matMenuTriggerFor]="featuresMenu">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'">
                                        </mat-icon>
                                    </button>
                                    <mat-menu #featuresMenu="matMenu">
                                        <button mat-menu-item>Yesterday</button>
                                        <button mat-menu-item>2 days ago</button>
                                        <button mat-menu-item>3 days ago</button>
                                    </mat-menu>
                                </div> -->
                            </div>
                            <div class="flex flex-col items-center mt-5">
                                <div class="text-5xl sm:text-4xl font-bold tracking-tight leading-none text-green-500">
                                    {{dashboardDetails.InvoiceAmountThisMonth}}
                                </div>
                                <div class="text-lg font-medium text-green-600 dark:text-green-500 mt-2">Invoices</div>
                                <!-- <div class="flex items-center justify-center w-full mt-5 text-secondary">
                                    <div class="text-md font-medium truncate">Verified:</div>
                                    <div class="ml-1.5 text-lg font-semibold">
                                        {{dashboardDetails.VerifiedInvoiceAmountThisMonth}}
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <!-- Here -->
                        <!-- No of MCs this Month -->
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                            style="cursor: pointer;" [routerLink]="['/claims/mc-report']">
                            <!--  (click)="viewData('No of MC this month')"> -->
                            <div class="flex items-start justify-center">
                                <div class="text-lg tracking-tight font-bold leading-6 truncate">No of MCs this Month
                                </div>
                                <!-- <div class="ml-2 -mt-2 -mr-3">
                                <button mat-icon-button [matMenuTriggerFor]="issuesMenu">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'">
                                    </mat-icon>
                                </button>
                                <mat-menu #issuesMenu="matMenu">
                                    <button mat-menu-item>Yesterday</button>
                                    <button mat-menu-item>2 days ago</button>
                                    <button mat-menu-item>3 days ago</button>
                                </mat-menu>
                            </div> -->
                            </div>
                            <div class="flex flex-col items-center mt-5">
                                <div class="text-5xl sm:text-4xl font-bold tracking-tight leading-none text-amber-500">
                                    {{dashboardDetails.NumberOfMCThisMonth}}
                                </div>
                                <div class="text-lg text-amber-600 dark:text-amber-500 mt-2">MCs</div>
                                <!-- <div class="flex items-center justify-center w-full mt-5 text-secondary">
                                <div class="text-md font-medium truncate">Last Month:</div>
                                <div class="ml-1.5 text-lg font-semibold">
                                    {{dashboardDetails.NumberOfMCLastMonth}}
                                </div>
                            </div> -->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="flex-auto p-6 sm:p-10">

            <!-- <ng-container class="">
                <h3>{{ tableHeader }}</h3>

                <input type="text" matInput ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                    startKey="start" endKey="end" [(ngModel)]="selected" name="daterange" />

            </ng-container> -->

            <!-- CONTENT GOES HERE -->
            <div class="" *ngIf="dataSource.length > 0">



                <div class="grid grid-cols-3 gap-4">
                    <div>
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <input
                                    class="bg-white-500 shadow appearance-none border rounded w-full py-2 px-3 text-black-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="username" type="text" placeholder="Keyword">
                            </div>

                            <div>
                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>

                    <div></div>

                    <div>
                        <div class="grid grid-cols-3 gap-4">
                            <div>
                                <select class="font-bold py-2 px-4 rounded">
                                    <option>- From Date -</option>
                                </select>
                            </div>

                            <div>
                                <select class="font-bold py-2 px-4 rounded">
                                    <option>- To Date -</option>
                                </select>
                            </div>

                            <div>
                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>



                <br />



                <!-- This example requires Tailwind CSS v2.0+ -->
                <div class="flex flex-col">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <ng-container *ngFor="let col of displayedColumns;">
                                                <th scope="col"
                                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                    {{ col }}
                                                </th>
                                            </ng-container>
                                        </tr>
                                    </thead>


                                    <tbody class="bg-white divide-y divide-gray-200">
                                        <ng-container *ngFor="let data of dataSource;">
                                            <tr>
                                                <ng-container *ngFor="let d of data | keyvalue: originalOrder;">
                                                    <td class="px-6 py-4 whitespace-nowrap">
                                                        <div class="text-sm text-gray-900">{{ d.value }}</div>
                                                        <!-- <div class="text-sm text-gray-500">Amount</div> -->
                                                    </td>
                                                </ng-container>
                                            </tr>
                                        </ng-container>

                                        <!-- More people... -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>


</div>