<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="grid grid-cols-1 gap-4">
            <h1 class="h6 text-left font-weight-bold">Abnormal Exam Results</h1>


            <form [formGroup]="abnormalExamResultForm" (ngSubmit)="onSubmit()" autocomplete="off">

                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <mat-form-field class="w-100 pb-1">
                            <mat-label class="fw600">
                                From Date <span class="text-danger">*</span></mat-label>
                            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="FromDate"
                                formControlName="FromDate" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
                            <mat-datepicker #FromDate></mat-datepicker>
                            <mat-error *ngIf="errorState(formControls['FromDate'], 'fromDate').message">
                                {{ errorState(formControls['FromDate'], 'fromDate').message }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="w-100 pb-1">
                            <mat-label class="fw600">
                                To Date <span class="text-danger">*</span></mat-label>
                            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="ToDate"
                                formControlName="ToDate" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="ToDate"></mat-datepicker-toggle>
                            <mat-datepicker #ToDate></mat-datepicker>
                            <mat-error *ngIf="errorState(formControls['ToDate'], 'toDate').message">
                                {{ errorState(formControls['ToDate'], 'toDate').message }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <button
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </form>





            <div class="grid grid-cols-1 gap-4">

                <div class="rounded-top">
                    <h3 class="mr-3 pt-2">
                        Details of Workers with Abnormal Examination Results
                    </h3>

                    <div class="mx-auto text-right col-sm-8 col-6">
                        <div class="pl-3 pr-2 pt-1 pb-1">
                            <button type="button" [disabled]="!abnormalExamResultDetails?.length"
                                class="mat-focus-indicator mat-raised-button mat-button-base mat-primary ng-star-inserted"
                                (click)="downloadExcelReport()">
                                <i class="fa" aria-hidden="true"><img src="assets/img/excel-download.png"
                                        alt=""></i>Download
                                Report
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="grid grid-cols-1 gap-4 bg-white shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">

                <table class="table table-sm m-0" id="sales-Summary-Report-excel-table">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 tracking-wider"
                                style="width: 12px;">Sr
                                No.</th>
                            <th scope="col"
                                class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 tracking-wider">
                                Employee Name
                            </th>
                            <th scope="col"
                                class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 tracking-wider">
                                MyKad/IC Number
                            </th>
                            <th scope="col"
                                class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 tracking-wider">
                                Sex</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <ng-container *ngIf="abnormalExamResultDetails?.length; else noDataFound">
                            <tr *ngFor="let data of abnormalExamResultDetails; index as i" class="border-bottom pb-1 ng-star-inserted">
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {{i+1}}.
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <a href="javascript:void(0)" class="rounded mt-0 pl-1 pr-1 pt-1 pb-1"
                                        [routerLink]="">
                                        <span class="text-sm text-gray-900">{{data.EmpName}}</span>
                                    </a>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {{data.ICNumber}}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {{(data.Gender === 'M') ? 'Male' : (data.Gender === 'F') ? 'Female' :
                                    'Others' }}
                                </td>
                            </tr>

                        </ng-container>
                    </tbody>
                </table>

            </div>
            <br />
            <div class="grid grid-cols-1 gap-4">
                <div>
                    <!-- <div class="grid grid-cols-1 gap-4" style="float: left;">
                        <div class="flex flex-wrap -mx-3 mb-6" *ngIf="numberOfPages > 0">
                            <div class="w-full px-3 mb-6 md:mb-0">
                                <h5>Page {{ currentPage }} of {{numberOfPages}}</h5>
                            </div>
                        </div>
                    </div> -->
                    <div class="grid grid-cols-1 gap-4" style="float: left;">
                        <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                            <div class="w-full px-3 mb-6 md:mb-0">
                                <h5>Page {{ currentPage }} of {{totalPageCount}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-4" style="float: right;">
                        <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                            <div class="w-full px-3 mb-6 md:mb-0">
                                <app-paginator [totalPageCount]="totalPageCount" [resetPageIndex]=resetPageIndex
                                    [pageButtonsCount]=pageButtonsCount (changePage)="changePage($event)">
                                </app-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<ng-template #noDataFound>
    <tr>
        <td colspan="9" class="text-center pt-2 pb-2">No Data Found.</td>
    </tr>
</ng-template>