<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="overflow-auto p-6 sm:p-10">

        <h1 class="font-bold mb-4">Add Employee</h1>

        <form class="w-full" [formGroup]="addEmployeeForm" (ngSubmit)="addEmployeeFormSubmit();">
            <!-- Name -->
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2"
                        for="grid-first-name">
                        Name <span class="text-red-500 text-s ml-1">*</span>
                    </label>
                    <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                        id="grid-first-name" type="text" placeholder="Enter Employee Name" formControlName="name"
                        autocomplete="off">

                    <p class="text-red-500 text-s italic"
                        *ngIf="addEmployeeForm.get('name').invalid && (addEmployeeForm.get('name').dirty || addEmployeeForm.get('name').touched)">

                        <ng-container *ngIf="addEmployeeForm.get('name').errors.required">
                            Please fill out this field
                            <br />
                        </ng-container>
                        <ng-container *ngIf="addEmployeeForm.get('name').errors.pattern">Please enter only
                            Alphabets
                            <br />
                        </ng-container>
                        <ng-container *ngIf="addEmployeeForm.get('name').errors.maxlength">Max allowed length
                            is 50
                        </ng-container>
                    </p>

                    <!-- <p class="text-red-500 text-s italic" *ngIf="addEmployeeForm.get('name').invalid 
                        && (addEmployeeForm.get('name').dirty || addEmployeeForm.get('name').touched)">
                        Please fill out this field.</p> -->
                </div>

                <!-- Employee Number -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2"
                        for="grid-first-name">
                        Employee Number
                    </label>
                    <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                        id="grid-first-name" type="text" placeholder="Enter Employee No" formControlName="Employee_No"
                        autocomplete="off">


                    <p class="text-red-500 text-s italic" *ngIf="addEmployeeForm.get('Employee_No').invalid && (addEmployeeForm.get('Employee_No').dirty 
                        || addEmployeeForm.get('Employee_No').touched)">

                        <!-- <ng-container *ngIf="addEmployeeForm.get('Employee_No').errors.required">
                            Please fill out this field
                        </ng-container> -->
                        <ng-container *ngIf="addEmployeeForm.get('Employee_No').errors.pattern">
                            Please enter only alphanumeric characters
                            <br />
                        </ng-container>
                        <ng-container *ngIf="addEmployeeForm.get('Employee_No').errors.maxlength">
                            Max allowed length is 25
                        </ng-container>
                    </p>
                    <!-- <p class="text-red-500 text-s italic"
                        *ngIf="addEmployeeForm.get('Employee_No').invalid && (addEmployeeForm.get('Employee_No').dirty || addEmployeeForm.get('Employee_No').touched)">
                        Please fill out this field.</p> -->
                </div>

                <!-- IC/Passport -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <!--  <div class="grid grid-cols-2 w-full">
                      <div class="mt-1">
                            <label class="uppercase tracking-wide text-gray-700 text-xs font-bold 
                            mb-2 justify-left mt-5 text-secondary ml-1">IC/Passport </label>
                            <label class="text-red-500 text-s ml-1">*</label>
                        </div>
                    </div> -->
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2"
                        for="grid-first-name">
                        IC/Passport <span class="text-red-500 text-s ml-1">*</span>
                    </label>
                    <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                        id="grid-first-name" type="text" placeholder="Enter IC/Passport"
                        formControlName="passport_no_ic" (focusout)="onFocusOutIcPassport($event)"
                        (keypress)="keyPressIcPassport($event)" autocomplete="off">

                    <p class="text-red-500 text-s italic"
                        *ngIf="addEmployeeForm.get('passport_no_ic').invalid && (addEmployeeForm.get('passport_no_ic').dirty || addEmployeeForm.get('passport_no_ic').touched)">
                        <ng-container *ngIf="addEmployeeForm.get('passport_no_ic').errors.required">Please fill out this
                            field.
                            <br />
                        </ng-container>
                        <ng-container *ngIf="addEmployeeForm.get('passport_no_ic').errors.maxlength">Max allowed length
                            is 20
                            <br />
                        </ng-container>
                        <ng-container *ngIf="addEmployeeForm.get('passport_no_ic').errors.pattern">Value is not valid.
                        </ng-container>
                    </p>
                    <p class="text-red-500 text-s italic">
                        <ng-container *ngIf="isIcPassportTaken">
                            This IC/Passport number is already in use
                        </ng-container>
                    </p>

                </div>

                <!-- Date of hire -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <!-- <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2"
                        for="grid-first-name">
                        Date of Hire
                    </label> -->
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2"
                        for="grid-first-name">
                        Date of Hire <span class="text-red-500 text-s ml-1">*</span>
                    </label>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <input matInput [matDatepicker]="DOH" [min]="startDate" [max]="doh_range"
                            placeholder="Date of Hire (dd/mm/yyyy)" formControlName="dateofhire" autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="DOH"></mat-datepicker-toggle>
                        <mat-datepicker #DOH></mat-datepicker>
                    </mat-form-field>

                    <p class="text-red-500 text-s italic" *ngIf="addEmployeeForm.get('dateofhire').invalid 
                        && (addEmployeeForm.get('dateofhire').dirty || addEmployeeForm.get('dateofhire').touched)">
                        <ng-container *ngIf="!addEmployeeForm.get('dateofhire').errors.matDatepickerParse
                    && addEmployeeForm.get('dateofhire').errors.required">
                            Please fill out this field
                            <br />
                        </ng-container>
                        <ng-container *ngIf="addEmployeeForm.get('dateofhire').errors.matDatepickerParse
                        || addEmployeeForm.get('dateofhire').errors.matDatepickerMin
                        || addEmployeeForm.get('dateofhire').errors.matDatepickerMax">Please select
                            a valid date
                        </ng-container>
                    </p>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <!-- Grade -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                        Grade
                    </label>
                    <div class="relative">
                        <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                            id="grid-state" formControlName="GradeLevelId" autocomplete="off">
                            <option [value]="''">- Select One -</option>

                            <ng-container *ngFor="let d of grades;">
                                <option [value]="d.Id">{{ d.GradeLevel }}</option>
                            </ng-container>
                        </select>

                        <p class="text-red-500 text-s italic"
                            *ngIf="addEmployeeForm.get('GradeLevelId').invalid && (addEmployeeForm.get('GradeLevelId').dirty || addEmployeeForm.get('GradeLevelId').touched)">
                            Please fill out this field.</p>
                    </div>
                </div>
                <!-- Department -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                        Department
                    </label>
                    <div class="relative">
                        <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                            id="grid-state" formControlName="department" (change)="changeDepartment($event)"
                            autocomplete="off">
                            <option [value]="''">- Select One -</option>

                            <ng-container *ngFor="let d of department;">
                                <option [value]="d.DepartmentId">{{ d.DeptName }}</option>
                            </ng-container>
                        </select>

                        <p class="text-red-500 text-s italic"
                            *ngIf="addEmployeeForm.get('department').invalid && (addEmployeeForm.get('department').dirty || addEmployeeForm.get('department').touched)">
                            Please fill out this field.</p>
                    </div>
                </div>
                <!-- Cost Center -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                        Section/Division
                    </label>

                    <div class="relative">
                        <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                            id="grid-state" formControlName="costCenter" autocomplete="off">
                            <option [value]="''">- Select One -</option>

                            <ng-container *ngFor="let c of costCenter;">
                                <option [value]="c.Id">{{ c.CostCeterName }}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <!-- KWSP number -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2"
                        for="grid-first-name">
                        KWSP number
                    </label>
                    <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                        id="grid-first-name" type="text" placeholder="Enter KWSP number" formControlName="kwsp"
                        autocomplete="off">

                    <p class="text-red-500 text-s italic" *ngIf="addEmployeeForm.get('kwsp').invalid && (addEmployeeForm.get('kwsp').dirty 
                        || addEmployeeForm.get('kwsp').touched)">
                        <ng-container *ngIf="addEmployeeForm.get('kwsp').errors.pattern">
                            Please enter only alphanumeric characters
                            <br />
                        </ng-container>
                        <ng-container *ngIf="addEmployeeForm.get('kwsp').errors.maxlength">Max allowed length is 15
                            <br />
                        </ng-container>
                        <ng-container *ngIf="addEmployeeForm.get('kwsp').errors.minlength">Min allowed length is 15
                        </ng-container>
                    </p>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">

                <!-- Nationality -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                        Nationality
                    </label>

                    <div class="">
                        <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                            id="grid-state" formControlName="nationality" autocomplete="off">
                            <option [value]="''">- Select One -</option>
                            <option [value]="'MY'">Malaysia</option>
                            <ng-container *ngFor="let n of location.nationality;">
                                <option [value]="n.ShortDesc">{{ n.LongDesc }}</option>
                            </ng-container>
                        </select>

                        <p class="text-red-500 text-s italic"
                            *ngIf="addEmployeeForm.get('nationality').invalid && (addEmployeeForm.get('nationality').dirty || addEmployeeForm.get('nationality').touched)">
                            Please fill out this field.</p>
                    </div>
                </div>

                <!-- Tel no -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2"
                        for="grid-first-name">
                        Tel No
                    </label>
                    <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                        id="grid-first-name" type="text" placeholder="Enter Tel no" formControlName="phone"
                        (keypress)="keyPressPhoneNumber($event)" autocomplete="off">

                    <p class="text-red-500 text-s italic"
                        *ngIf="addEmployeeForm.get('phone').invalid && (addEmployeeForm.get('phone').dirty || addEmployeeForm.get('phone').touched)">
                        <ng-container *ngIf="addEmployeeForm.get('phone').errors.pattern">
                            Please enter only alphanumeric characters
                            <br />
                        </ng-container>
                        <ng-container *ngIf="addEmployeeForm.get('phone').errors.maxlength">Max allowed length is 14
                        </ng-container>
                    </p>
                </div>

                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2"
                        for="grid-emailId">
                        Email Id
                    </label>
                    <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white" id="grid-emailId"
                        type="text" placeholder="Enter Email Id" formControlName="email" autocomplete="off">

                    <p class="text-red-500 text-s italic" *ngIf="addEmployeeForm.get('email').invalid && (addEmployeeForm.get('email').dirty ||
                         addEmployeeForm.get('email').touched)">
                        <ng-container *ngIf="addEmployeeForm.get('email').errors.email">Please enter correct Email ID
                        </ng-container>
                        <!-- <ng-container *ngIf="addEmployeeForm.get('email').errors.maxlength">Max allowed length is 14
                        </ng-container> -->
                    </p>
                </div>

                <!-- DOB -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2"
                        for="grid-first-name">
                        DOB
                    </label>

                    <mat-form-field appearance="fill" style="width: 100%;">
                        <input matInput [matDatepicker]="dob" [max]="addEmployeeForm.get('dateofhire').value"
                            [min]="dobStartDate" placeholder="DOB (dd/mm/yyyy)" formControlName="date_of_birth"
                            autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                        <mat-datepicker #dob></mat-datepicker>
                    </mat-form-field>

                    <!-- <p class="text-red-500 text-s italic"
                        *ngIf="addEmployeeForm.get('date_of_birth').invalid && (addEmployeeForm.get('date_of_birth').dirty || addEmployeeForm.get('date_of_birth').touched)">
                        Not correct format.</p> -->

                    <p class="text-red-500 text-s italic"
                        *ngIf="addEmployeeForm.get('date_of_birth').invalid && (addEmployeeForm.get('date_of_birth').dirty || addEmployeeForm.get('date_of_birth').touched)">
                        <ng-container *ngIf="addEmployeeForm.get('date_of_birth').errors.required">
                            Please fill out this field
                            <br />
                        </ng-container>
                        <ng-container *ngIf="addEmployeeForm.get('date_of_birth').errors.matDatepickerMax">
                            Date of Birth should be smaller than Date Of Hire
                        </ng-container>
                    </p>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">


                <!-- Gender -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                        Gender
                    </label>

                    <div class="relative">
                        <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                            id="grid-state" formControlName="gender" autocomplete="off">
                            <option [value]="''">- Select One -</option>
                            <option [value]="'m'">Male</option>
                            <option [value]="'f'">Female</option>
                            <option [value]="'o'">Other</option>
                        </select>

                        <p class="text-red-500 text-s italic"
                            *ngIf="addEmployeeForm.get('gender').invalid && (addEmployeeForm.get('gender').dirty || addEmployeeForm.get('gender').touched)">
                            Please fill out this field.</p>
                    </div>
                </div>
                <!-- Marital Status  -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                        Marital Status
                    </label>

                    <div class="">
                        <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                            id="grid-state" formControlName="marticalStatus" autocomplete="off">
                            <option [value]="''">- Select One -</option>
                            <option [value]="'single'">Single</option>
                            <option [value]="'married'">Married</option>
                            <option [value]="'widowed'">Widowed</option>
                            <option [value]="'divorced'">Divorced</option>
                        </select>

                        <p class="text-red-500 text-s italic"
                            *ngIf="addEmployeeForm.get('marticalStatus').invalid && (addEmployeeForm.get('marticalStatus').dirty || addEmployeeForm.get('marticalStatus').touched)">
                            Please fill out this field.</p>
                    </div>
                </div>


                <!-- No of Children  -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                        No of Children
                    </label>
                    <div class="">
                        <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                            id="grid-state" formControlName="noOfChildren" autocomplete="off">
                            <option [value]="'0'">0</option>
                            <option [value]="'1'">1</option>
                            <option [value]="'2'">2</option>
                            <option [value]="'3'">3</option>
                            <option [value]="'4'">4</option>
                            <option [value]="'5'">5</option>
                            <option [value]="'6'">6</option>
                            <option [value]="'7'">7</option>
                            <option [value]="'8'">8</option>
                            <option [value]="'9'">9</option>
                            <option [value]="'10'">10</option>
                        </select>

                        <p class="text-red-500 text-s italic"
                            *ngIf="addEmployeeForm.get('noOfChildren').invalid && (addEmployeeForm.get('noOfChildren').dirty || addEmployeeForm.get('noOfChildren').touched)">
                            Please fill out this field.</p>
                    </div>
                </div>

                <!-- Address line 1 -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2"
                        for="grid-first-name">
                        Address line 1
                    </label>

                    <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                        id="grid-first-name" type="text" placeholder="Enter address line 1"
                        formControlName="address_line_1" autocomplete="off">

                    <p class="text-red-500 text-s italic" *ngIf="addEmployeeForm.get('address_line_1').invalid 
                        && (addEmployeeForm.get('address_line_1').dirty 
                        || addEmployeeForm.get('address_line_1').touched)">
                        <ng-container *ngIf="addEmployeeForm.get('address_line_1').errors.pattern">
                            Please enter only alphanumeric characters
                            <br />
                        </ng-container>
                        <ng-container *ngIf="addEmployeeForm.get('address_line_1').errors.maxlength">Max allowed length
                            is 500
                        </ng-container>
                    </p>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <!-- Address line 2 -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2"
                        for="grid-first-name">
                        Address line 2
                    </label>

                    <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                        id="grid-first-name" type="text" placeholder="Enter address line 2"
                        formControlName="address_line_2" autocomplete="off">

                    <p class="text-red-500 text-s italic" *ngIf="addEmployeeForm.get('address_line_2').invalid 
                        && (addEmployeeForm.get('address_line_2').dirty 
                        || addEmployeeForm.get('address_line_2').touched)">
                        <ng-container *ngIf="addEmployeeForm.get('address_line_2').errors.pattern">
                            Please enter only alphanumeric characters
                            <br />
                        </ng-container>
                        <ng-container *ngIf="addEmployeeForm.get('address_line_1').errors.maxlength">Max allowed length
                            is 500
                        </ng-container>
                    </p>
                </div>
                <!-- State  -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                        State
                    </label>

                    <div class="">
                        <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                            id="grid-state" formControlName="state" (change)="changeState($event)" autocomplete="off">
                            <option value="">- Select One -</option>
                            <ng-container *ngFor="let s of location.state;">
                                <option [value]="s.Id">{{ s.State }}</option>
                            </ng-container>
                        </select>

                        <p class="text-red-500 text-s italic"
                            *ngIf="addEmployeeForm.get('state').invalid && (addEmployeeForm.get('state').dirty || addEmployeeForm.get('state').touched)">
                            Please fill out this field.</p>
                    </div>
                </div>


                <!-- City  -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2" for="grid-state">
                        City
                    </label>

                    <div class="">
                        <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                            id="grid-state" formControlName="city" autocomplete="off">

                            <option value="">- Select One -</option>
                            <ng-container *ngFor="let c of location.city;">
                                <option [value]="c.Id">{{ c.City }}</option>
                            </ng-container>
                        </select>

                        <p class="text-red-500 text-s italic"
                            *ngIf="addEmployeeForm.get('city').invalid && (addEmployeeForm.get('city').dirty || addEmployeeForm.get('city').touched)">
                            Please fill out this field.</p>
                    </div>
                </div>


                <!-- Postcode -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2"
                        for="grid-first-name">
                        Postcode
                    </label>

                    <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                        id="grid-first-name" type="text" placeholder="Enter postcode" formControlName="postCode"
                        autocomplete="off">

                    <p class="text-red-500 text-s italic" *ngIf="addEmployeeForm.get('postCode').invalid 
                        && (addEmployeeForm.get('postCode').dirty || addEmployeeForm.get('postCode').touched)">
                        <ng-container *ngIf="addEmployeeForm.get('postCode').errors.pattern">
                            Please enter only numbers
                            <br />
                        </ng-container>
                        <ng-container *ngIf="addEmployeeForm.get('postCode').errors.maxlength">Max allowed length is 6
                        </ng-container>
                    </p>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-1">
                <div class="w-full md:w-1/1 px-3 mb-2 md:mb-0" style="text-align: right;">
                    <button
                        class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                        type="button" [routerLink]="'/employee/add-employee'">
                        Back
                    </button>

                    <button style="margin-left: 5px;" [disabled]="isIcPassportTaken" 
                        class="shadow bg-purple-500 disabled:bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                        type="submit">
                        Save
                    </button>
                </div>
            </div>
        </form>



    </div>

</div>