<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-10 sm:p-10">

        <div class="grid grid-cols-1 gap-4">
            <h1 class="">Audiometric Report</h1>

            <form [formGroup]="audiometricResultForm" (ngSubmit)="onSubmit()" autocomplete="off">

                <div class="grid grid-cols-4 gap-4">
                    <div>
                        <mat-form-field class="w-60 pb-1">
                            <mat-label class="fw600">
                                From Date <span class="text-danger">*</span></mat-label>
                            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="FromDate"
                                formControlName="FromDate" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
                            <mat-datepicker #FromDate></mat-datepicker>
                            <mat-error *ngIf="errorState(formControls['FromDate'], 'fromDate').message">
                                {{ errorState(formControls['FromDate'], 'fromDate').message }}
                            </mat-error>
                        </mat-form-field>
                    </div>


                    <div>
                        <mat-form-field class="w-60 pb-1">
                            <mat-label class="fw600">
                                To Date <span class="text-danger">*</span></mat-label>
                            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="ToDate"
                                formControlName="ToDate" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="ToDate"></mat-datepicker-toggle>
                            <mat-datepicker #ToDate></mat-datepicker>
                            <mat-error *ngIf="errorState(formControls['ToDate'], 'toDate').message">
                                {{ errorState(formControls['ToDate'], 'toDate').message }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="w-60 pb-1">
                            <mat-label class="fw600">Report Type <span class="text-danger">*</span></mat-label>
                            <mat-select [typeaheadDebounceInterval]="500" formControlName="TestType"
                                (selectionChange)="selectChange($event)" class=" py-3 ">
                                <mat-option class="fs12 fw600">Select Report Type
                                </mat-option>
                                <mat-option class="fs12 fw600" value="AUD">Audiometric Test
                                </mat-option>
                                <mat-option class="fs12 fw600" value="AUS">Audiometric Screening
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="errorState(formControls['TestType'], 'testType').message">
                                {{ errorState(formControls['TestType'], 'testType').message }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="w-full mt-5">
                        <button
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="submit" style="margin-top: 7px;">
                            Search
                        </button>
                    </div>
                </div>

                <!-- <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <button
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="submit">
                            Search
                        </button>
                    </div>
                </div> -->

            </form>
        </div>


        <div class="grid grid-cols-1 gap-4">
            <div class="">
                <!-- <div class="bg-primary-blue text-white rounded-top px-3 py-2 text-start flex-row flex-wrap"></div> -->
                <h3 class="mr-3 pt-2">
                    <span class="pl-1 fs14 fw700 mr-2">{{ribbonText}}</span>
                    <span class="pl-1 fs14 fw700" *ngIf="audiometricResultDetails?.length">(Total:
                        {{totalDocuments}})</span>
                </h3>
            </div>
        </div>

        <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200" id="sales-Summary-Report-excel-table">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                        Sr
                                        No.</th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                        Employee Name
                                    </th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                        Date
                                        of Test
                                    </th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                        Report</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200" >
                                <ng-container *ngIf="audiometricResultDetails?.length; else noDataFound">
                                    <tr *ngFor="let data of audiometricResultDetails; index as i">
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            {{i+1}}.
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <a href="javascript:void(0)" class="rounded mt-0 pl-1 pr-1 pt-1 pb-1">
                                                <span class="text-sm text-gray-900">
                                                    {{data.EmployeeName}}
                                                </span>
                                            </a>
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            {{data.DateOfTest}}
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <!-- <div class="btn btn-warning btn-sm rounded-pill" type="button"
                                                (click)="goToAudiometricReport(data)">
                                                <small class="fs14 fw500">Get Report</small>
                                            </div> -->
                                            <button
                                                class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white pl-3 pr-3 pt-1 pb-1 rounded"
                                                type="button" (click)="goToAudiometricReport(data)">
                                                Get Report
                                            </button>
                                        </td>
                                    </tr>

                                </ng-container>
                            </tbody>
                        </table>
                    </div>

                    <br />
                    <div class="flex flex-wrap -mx-3 mb-6">

                        <div class="grid grid-cols-1 gap-4" style="float: left;">
                            <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                <div class="w-full px-3 mb-6 md:mb-0">
                                    <h5>Page {{ currentPage }} of {{totalPageCount}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 gap-4" style="float: right;">
                            <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                <div class="w-full px-3 mb-6 md:mb-0">
                                    <app-paginator [totalPageCount]="totalPageCount" [resetPageIndex]=resetPageIndex
                                        [pageButtonsCount]=pageButtonsCount (changePage)="changePage($event)">
                                    </app-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div *ngIf="clientListData?.length && (totalDocuments > pageSize)" class="col-xl-12 col-12 pb-3 d-flex justify-content-end"> -->
                <!-- <div *ngIf="audiometricResultDetails?.length" class="col-xl-12 col-12 pb-3 d-flex justify-content-end">
                    <div class="d-inline-block">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item" [class.disabled]="currentPage == 1">
                                <a class="page-link badge-yellow fs14" href="javascript:void(0)" (click)="prevPage(50)">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link badge-yellow fs14 fw600 h-100 p-1">
                                    <input type="number" min="1" [max]="totalPageCount"
                                        class="fs14 fw600 text-center p-0 border-none form-control h-100 pagination-input"
                                        [(ngModel)]="currentPage" (change)="pageEntered(50)">
                                </a>
                            </li>
                            <li class="page-item" [class.disabled]="currentPage == totalPageCount">
                                <a class="page-link badge-yellow fs14" href="javascript:void(0)" (click)="nextPage(50)">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                        <p class="fs14 text-darkgrey text-center fw500 m-0">
                            Page {{currentPage}} of {{totalPageCount}}
                        </p>
                    </div>
                </div> -->
            </div>
        </div>

    </div>
</div>



<ng-template #noDataFound>
    <tr>
        <td colspan="9" class="text-center text-red-700 pt-2 pb-2">No Data Found.</td>
    </tr>
</ng-template>