<div>
    <div class="flex-auto">
        <div class="w-full max-w-screen-xl mx-auto">

            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 w-full min-w-0">
                <div class="flex flex-col flex-auto bg-card rounded-2xl overflow-hidden">
                    <div class="bg-warning pl-5 pr-4 pt-3 pb-3 pb-1 mb-0 rounded-top">Clinic Details</div>
                    <div class="grid grid-cols-1 w-full flex flex-col items-center mt-0 p-4 sm:rounded-lg">
                        <div class="grid grid-cols-2 w-full pb-5">
                            <div class="mt-1">
                                <label class="justify-left mt-5 text-secondary ml-1">Clinic Name: </label>
                                <label class="ml-1 w-100">{{claim.clinicName}}</label>
                            </div>
                            <div class="w-100"></div>

                            <div class="mt-1">
                                <label class="justify-left mt-5 text-secondary ml-1">Visit Date: </label>
                                <label class="ml-1">{{ claim.visitDt | date}}</label>
                            </div>
                            <div class="w-100"></div>

                            <div class="mt-1">
                                <label class="justify-left mt-5 text-secondary ml-1">Claim Amount(RM): </label>
                                <label class="ml-1">{{ claim.Claim }}</label>
                            </div>
                            <div class="w-100"></div>

                            <div class="mt-1">
                                <label class="justify-left mt-5 text-secondary ml-1">Claim Status: </label>
                                <label class="ml-1">{{ claim.ClaimStatus }}</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                    <div class="bg-warning pl-5 pr-4 pt-3 pb-3 pb-1 mb-0 rounded-top">Employer Details</div>
                    <div class="grid grid-cols-1 w-full flex flex-col items-center mt-0 p-4 sm:rounded-lg">
                        <div class="grid grid-cols-2 w-full pb-5">
                            <div class="mt-1">
                                <label class="justify-left mt-5 text-secondary ml-1">Company Name: </label>
                                <label class="ml-1">{{claim.CompanyName}}</label>
                            </div>
                            <div class="w-100"></div>
                            <div class="mt-1">
                                <label class="justify-left mt-5 text-secondary ml-1">Employee Name: </label>
                                <label class="ml-1">{{claim.employeeName}}</label>
                            </div>
                            <div class="w-100"></div>
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="grid grid-cols-1">
                <div class="flex flex-col flex-auto bg-card rounded-2xl overflow-hidden" style="cursor: pointer;">
                    <div class="flex flex-col mt-0">
                        <div class="bg-warning pl-5 pr-4 pt-3 pb-3 pb-1 mb-0 rounded-top">Patient Details
                        </div>
                    </div>
                    <div class="grid grid-cols-1 w-full flex flex-col items-center mt-0 p-4 sm:rounded-lg">
                        <div class="grid grid-cols-2 w-full pb-5">
                            <div class="mt-1">
                                <label class="justify-left mt-5 text-secondary ml-1">Patient Name: </label>
                                <label class="ml-1">{{patientDetails?.PaitentName}}</label>
                            </div>
                            <div class="mt-2">
                                <label class="justify-left mt-5 text-secondary ml-1">Purpose Of Visit: </label>
                                <label class="ml-1">{{ patientDetails?.PurposeOfVisit }}</label>
                            </div>
                            <div class="mt-2">
                                <label class="justify-left mt-5 text-secondary ml-1">Gender: </label>
                                <label *ngIf="patientDetails?.PatientGender === 'm'" class="ml-1">Male</label>
                                <label *ngIf="patientDetails?.PatientGender === 'f'" class="ml-1">Female</label>
                            </div>
                            <div class="mt-2">
                                <label class="justify-left mt-5 text-secondary ml-1">Date Of Birth: </label>
                                <label class="ml-1">{{patientDetails?.Date_Of_Birth | date}}</label>
                            </div>
                            <div class="mt-2">
                                <label class="justify-left mt-5 text-secondary ml-1">Phone: </label>
                                <label class="ml-1">{{ patientDetails?.PatientPhNo}}</label>
                            </div>
                            <div class="mt-2">
                                <label class="justify-left mt-5 text-secondary ml-1">Email: </label>
                                <label class="ml-1">{{ patientDetails?.PatientEmail }}</label>
                            </div>
                            <div class="mt-2">
                                <label class="justify-left mt-5 text-secondary ml-1">Nationality: </label>
                                <label class="ml-1">{{ patientDetails?.Nationality }}</label>
                            </div>
                            <div class="mt-2">
                                <label class="justify-left mt-5 text-secondary ml-1">Married Status: </label>
                                <label class="ml-1">{{ patientDetails?.marriedStatus }}</label>
                            </div>
                            <div class="mt-2">
                                <label class="justify-left mt-5 text-secondary ml-1">Treatment Plan: </label>
                                <label class="ml-1">{{ patientDetails?.treatmentPlan }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="grid grid-cols-1">
                <div class="flex flex-col flex-auto bg-card rounded-2xl overflow-hidden" style="cursor: pointer;">
                    <div class="flex flex-col mt-0">
                        <div class="bg-warning pl-5 pr-4 pt-3 pb-3 pb-1 mb-0 rounded-top">Complaint Details
                        </div>
                    </div>
                    <div class="grid grid-cols-1 w-full flex flex-col items-center mt-0 p-4 sm:rounded-lg">
                        <div class="grid grid-cols-2 w-full pb-5">
                            <div class="mt-1">
                                <!-- <label class="justify-left mt-5 text-secondary ml-1">Complaint: </label> -->
                                <label class="ml-1">{{claim?.complainData}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="grid grid-cols-1">
                <div class="flex flex-col flex-auto bg-card rounded-2xl overflow-hidden" style="cursor: pointer;">
                    <!-- <div class="flex flex-col items-center mt-2"> -->
                    <div class="flex flex-col mt-0">
                        <div class="bg-warning pl-5 pr-4 pt-3 pb-3 pb-1 mb-0 rounded-top">Diagnosis Details
                        </div>
                    </div>
                    <div class="grid grid-cols-1 w-full flex flex-col items-center sm:rounded-lg">
                        <table mat-table [dataSource]="diagnosisDetails" class="mat-elevation-z8">
                            <!-- <ng-container matColumnDef="clinic">
                                <th mat-header-cell *matHeaderCellDef> Clinic </th>
                                <td mat-cell *matCellDef="let element"> {{element.ClinicName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="visitDate">
                                <th mat-header-cell *matHeaderCellDef> Visit Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.VisitDate | date}} </td>
                            </ng-container>

                            <ng-container matColumnDef="claimSubmissionDt">
                                <th mat-header-cell *matHeaderCellDef>Claim Submission Date</th>
                                <td mat-cell *matCellDef="let element"> {{element.cliamSubmissionDt | date}} </td>
                            </ng-container>

                            <ng-container matColumnDef="claimAmount">
                                <th mat-header-cell *matHeaderCellDef>Claim Amount(RM) </th>
                                <td mat-cell *matCellDef="let element"> {{element.ClaimAmount}} </td>
                            </ng-container> -->

                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef> Description </th>
                                <td mat-cell *matCellDef="let element"> {{element.LineDec }} </td>
                            </ng-container>

                            <ng-container matColumnDef="invoiceAmount">
                                <th mat-header-cell *matHeaderCellDef>Invoice Amount(RM) </th>
                                <td mat-cell *matCellDef="let element"> {{element.LineAmt | number : '1.2-2'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef>Details</th>
                                <td mat-cell *matCellDef="let element">
                                    <button (click)="showInvoiceDetails(element)" *ngIf="element.LineDec !== 'Consultation' && element.LineDec !== 'Discount'"
                                        class="gap-4 pt-1 pb-1 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                        type="button">
                                        Details
                                    </button>
                                </td>
                            </ng-container>
                            <!-- <div class="text-sm text-gray-900">
                                <button (click)="showClaimDetails(dataSource)"
                                    class="gap-4 pt-1 pb-1 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                    type="button">
                                    Details
                                </button>
                            </div> -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>



        </div>
        <div class="row mt-5">
            <div class="col-sm-12 col-xs-12 d-flex justify-content-center text-center">
                <button
                    class="mat-focus-indicator shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded mr-2 mat-button mat-button-base"
                    mat-button (click)="closePopup()"> Close </button>
            </div>
        </div>
        <br />
        <div class="grid grid-cols-1 gap-4" *ngIf="showActionButtons">
            <div>
                <div class="grid grid-cols-2 gap-4" style="float: right;">
                    <!-- <div>
                        <button (click)="onApproveClick()" *ngIf="claim.ClaimStatus !== 'Approved'"
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button">
                            Approve
                        </button>
                    </div>

                    <div>
                        <button (click)="onRejectClick()"
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button">
                            Reject
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>